<a href="https://colab.research.google.com/github/donw385/Unit-2-Sprint-Challenge/blob/master/Don_Wang_Predictive_Modeling_Challenge.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
!pip install category_encoders

Collecting category_encoders
  Downloading https://files.pythonhosted.org/packages/f7/d3/82a4b85a87ece114f6d0139d643580c726efa45fa4db3b81aed38c0156c5/category_encoders-1.3.0-py2.py3-none-any.whl (61kB)
    100% |████████████████████████████████| 61kB 4.0MB/s
Requirement already satisfied: scipy>=0.17.0 in /usr/local/lib/python3.6/dist-packages (from category_encoders) (1.1.0)
Requirement already satisfied: statsmodels>=0.6.1 in /usr/local/lib/python3.6/dist-packages (from category_encoders) (0.8.0)
Requirement already satisfied: scikit-learn>=0.17.1 in /usr/local/lib/python3.6/dist-packages (from category_encoders) (0.20.3)
Requirement already satisfied: pandas>=0.20.1 in /usr/local/lib/python3.6/dist-packages (from category_encoders) (0.22.0)
Requirement already satisfied: patsy>=0.4.1 in /usr/local/lib/python3.6/dist-packages (from category_encoders) (0.5.1)
Requirement already satisfied: numpy>=1.11.1 in /usr/local/lib/python3.6/dist-packages (from category_encoders) (1.14.6)
Requirement already satisfied: python-dateutil>=2 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.20.1->category_encoders) (2.5.3)
Requirement already satisfied: pytz>=2011k in /usr/local/lib/python3.6/dist-packages (from pandas>=0.20.1->category_encoders) (2018.9)
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from patsy>=0.4.1->category_encoders) (1.11.0)
Installing collected packages: category-encoders
Successfully installed category-encoders-1.3.0

In [0]:
import numpy as np
import pandas as pd
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import StandardScaler
from sklearn.pipeline import make_pipeline
import category_encoders as ce
from sklearn.feature_selection import f_regression, SelectKBest
from sklearn.model_selection import GridSearchCV
from google.colab import drive
from sklearn.linear_model import Ridge
from sklearn.ensemble import RandomForestClassifier
from sklearn.datasets import make_classification
from xgboost import XGBClassifier


pd.set_option('display.max_columns', 500)

In [4]:
!pip install kaggle

Requirement already satisfied: kaggle in /usr/local/lib/python3.6/dist-packages (1.5.3)
Requirement already satisfied: urllib3<1.25,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from kaggle) (1.22)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.6/dist-packages (from kaggle) (1.11.0)
Requirement already satisfied: certifi in /usr/local/lib/python3.6/dist-packages (from kaggle) (2018.11.29)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.6/dist-packages (from kaggle) (2.5.3)
Requirement already satisfied: requests in /usr/local/lib/python3.6/dist-packages (from kaggle) (2.18.4)
Requirement already satisfied: tqdm in /usr/local/lib/python3.6/dist-packages (from kaggle) (4.28.1)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.6/dist-packages (from kaggle) (3.0.0)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests->kaggle) (3.0.4)
Requirement already satisfied: idna<2.7,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests->kaggle) (2.6)
Requirement already satisfied: text-unidecode==1.2 in /usr/local/lib/python3.6/dist-packages (from python-slugify->kaggle) (1.2)

In [5]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3Aietf%3Awg%3Aoauth%3A2.0%3Aoob&scope=email%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdocs.test%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive.photos.readonly%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fpeopleapi.readonly&response_type=code

Enter your authorization code:
··········
Mounted at /content/drive

In [6]:
%env KAGGLE_CONFIG_DIR=/content/drive/My Drive/

env: KAGGLE_CONFIG_DIR=/content/drive/My Drive/

In [7]:
!kaggle competitions download -c ds2-predictive-modeling-challenge

Downloading train_features.csv.zip to /content
  0% 0.00/3.81M [00:00<?, ?B/s]
100% 3.81M/3.81M [00:00<00:00, 125MB/s]
Downloading train_labels.csv.zip to /content
  0% 0.00/211k [00:00<?, ?B/s]
100% 211k/211k [00:00<00:00, 64.7MB/s]
Downloading test_features.csv.zip to /content
  0% 0.00/948k [00:00<?, ?B/s]
100% 948k/948k [00:00<00:00, 131MB/s]
Downloading sample_submission.csv to /content
  0% 0.00/236k [00:00<?, ?B/s]
100% 236k/236k [00:00<00:00, 74.1MB/s]

In [8]:
!unzip train_features.csv.zip

Archive:  train_features.csv.zip
  inflating: train_features.csv

In [9]:
!unzip train_labels.csv.zip

Archive:  train_labels.csv.zip
  inflating: train_labels.csv

In [10]:
!unzip test_features.csv.zip

Archive:  test_features.csv.zip
  inflating: test_features.csv

In [13]:
train_df = pd.read_csv('train_features.csv')
train_df

,id,amount_tsh,date_recorded,funder,gps_height,installer,longitude,latitude,wpt_name,num_private,basin,subvillage,region,region_code,district_code,lga,ward,population,public_meeting,recorded_by,scheme_management,scheme_name,permit,construction_year,extraction_type,extraction_type_group,extraction_type_class,management,management_group,payment,payment_type,water_quality,quality_group,quantity,quantity_group,source,source_type,source_class,waterpoint_type,waterpoint_type_group
0,69572,6000.0,2011-03-14,Roman,1390,Roman,34.938093,-9.856322e+00,none,0,Lake Nyasa,Mnyusi B,Iringa,11,5,Ludewa,Mundindi,109,True,GeoData Consultants Ltd,VWC,Roman,False,1999,gravity,gravity,gravity,vwc,user-group,pay annually,annually,soft,good,enough,enough,spring,spring,groundwater,communal standpipe,communal standpipe
1,8776,0.0,2013-03-06,Grumeti,1399,GRUMETI,34.698766,-2.147466e+00,Zahanati,0,Lake Victoria,Nyamara,Mara,20,2,Serengeti,Natta,280,NaN,GeoData Consultants Ltd,Other,NaN,True,2010,gravity,gravity,gravity,wug,user-group,never pay,never pay,soft,good,insufficient,insufficient,rainwater harvesting,rainwater harvesting,surface,communal standpipe,communal standpipe
2,34310,25.0,2013-02-25,Lottery Club,686,World vision,37.460664,-3.821329e+00,Kwa Mahundi,0,Pangani,Majengo,Manyara,21,4,Simanjiro,Ngorika,250,True,GeoData Consultants Ltd,VWC,Nyumba ya mungu pipe scheme,True,2009,gravity,gravity,gravity,vwc,user-group,pay per bucket,per bucket,soft,good,enough,enough,dam,dam,surface,communal standpipe multiple,communal standpipe
3,67743,0.0,2013-01-28,Unicef,263,UNICEF,38.486161,-1.115530e+01,Zahanati Ya Nanyumbu,0,Ruvuma / Southern Coast,Mahakamani,Mtwara,90,63,Nanyumbu,Nanyumbu,58,True,GeoData Consultants Ltd,VWC,NaN,True,1986,submersible,submersible,submersible,vwc,user-group,never pay,never pay,soft,good,dry,dry,machine dbh,borehole,groundwater,communal standpipe multiple,communal standpipe
4,19728,0.0,2011-07-13,Action In A,0,Artisan,31.130847,-1.825359e+00,Shuleni,0,Lake Victoria,Kyanyamisa,Kagera,18,1,Karagwe,Nyakasimbi,0,True,GeoData Consultants Ltd,NaN,NaN,True,0,gravity,gravity,gravity,other,other,never pay,never pay,soft,good,seasonal,seasonal,rainwater harvesting,rainwater harvesting,surface,communal standpipe,communal standpipe
5,9944,20.0,2011-03-13,Mkinga Distric Coun,0,DWE,39.172796,-4.765587e+00,Tajiri,0,Pangani,Moa/Mwereme,Tanga,4,8,Mkinga,Moa,1,True,GeoData Consultants Ltd,VWC,Zingibali,True,2009,submersible,submersible,submersible,vwc,user-group,pay per bucket,per bucket,salty,salty,enough,enough,other,other,unknown,communal standpipe multiple,communal standpipe
6,19816,0.0,2012-10-01,Dwsp,0,DWSP,33.362410,-3.766365e+00,Kwa Ngomho,0,Internal,Ishinabulandi,Shinyanga,17,3,Shinyanga Rural,Samuye,0,True,GeoData Consultants Ltd,VWC,NaN,True,0,swn 80,swn 80,handpump,vwc,user-group,never pay,never pay,soft,good,enough,enough,machine dbh,borehole,groundwater,hand pump,hand pump
7,54551,0.0,2012-10-09,Rwssp,0,DWE,32.620617,-4.226198e+00,Tushirikiane,0,Lake Tanganyika,Nyawishi Center,Shinyanga,17,3,Kahama,Chambo,0,True,GeoData Consultants Ltd,NaN,NaN,True,0,nira/tanira,nira/tanira,handpump,wug,user-group,unknown,unknown,milky,milky,enough,enough,shallow well,shallow well,groundwater,hand pump,hand pump
8,53934,0.0,2012-11-03,Wateraid,0,Water Aid,32.711100,-5.146712e+00,Kwa Ramadhan Musa,0,Lake Tanganyika,Imalauduki,Tabora,14,6,Tabora Urban,Itetemia,0,True,GeoData Consultants Ltd,VWC,NaN,True,0,india mark ii,india mark ii,handpump,vwc,user-group,never pay,never pay,salty,salty,seasonal,seasonal,machine dbh,borehole,groundwater,hand pump,hand pump
9,46144,0.0,2011-08-03,Isingiro Ho,0,Artisan,30.626991,-1.257051e+00,Kwapeto,0,Lake Victoria,Mkonomre,Kagera,18,1,Karagwe,Kaisho,0,True,GeoData Consultants Ltd,NaN,NaN,True,0,nira/tanira,nira/tanira,handpump,vwc,user-group,never pay,never pay,soft,good,enough,enough,shallow well,shallow well,groundwater,hand pump,hand pump
10,49056,0.0,2011-02-20,Private,62,Private,39.209518,-7.034139e+00,Mzee Hokororo,0,Wami / Ruvu,Mizugo,Pwani,60,43,Mkuranga,Tambani,345,True,GeoData Consultants Ltd,Private operator,NaN,False,2011,submersible,submersible,submersible,private operator,commercial,never pay,never pay,salty,salty,enough,enough,machine dbh,borehole,groundwater,other,other
11,50409,200.0,2013-02-18,Danida,1062,DANIDA,35.770258,-1.057417e+01,Kwa Alid Nchimbi,0,Lake Nyasa,Ngondombwito,Ruvuma,10,5,Namtumbo,Msindo,250,True,GeoData Consultants Ltd,WUG,NaN,False,1987,swn 80,swn 80,handpump,wug,user-group,pay when scheme fails,on failure,soft,good,insufficient,insufficient,shallow well,shallow well,groundwater,hand pump,hand pump
12,36957,0.0,2012-10-14,World Vision,0,World vision,33.798106,-3.290194e+00,Pamba,0,Internal,Nkilifa,Shinyanga,17,2,Maswa,Busilili,0,True,GeoData Consultants Ltd,WUG,NaN,False,0,nira/tanira,nira/tanira,handpump,wug,user-group,other,other,soft,good,enough,enough,shallow well,shallow well,groundwater,hand pump,hand pump
13,50495,0.0,2013-03-15,Lawatefuka Water Supply,1368,Lawatefuka water sup,37.092574,-3.181783e+00,Kwa John Izack Mmari,0,Pangani,Omarini,Kilimanjaro,3,7,Siha,Siha Kaskazini,1,True,GeoData Consultants Ltd,Water Board,BL Bondeni,True,2009,gravity,gravity,gravity,water board,user-group,pay monthly,monthly,soft,good,enough,enough,spring,spring,groundwater,communal standpipe,communal standpipe
14,53752,0.0,2012-10-20,Biore,0,WEDECO,34.364073,-3.629333e+00,Mwabasabi,0,Internal,Mwabasabi,Shinyanga,17,6,Meatu,Nkoma,0,True,GeoData Consultants Ltd,WUG,None,True,0,nira/tanira,nira/tanira,handpump,wug,user-group,never pay,never pay,soft,good,enough,enough,shallow well,shallow well,groundwater,hand pump,hand pump
15,61848,0.0,2011-08-04,Rudep,1645,DWE,31.444121,-8.274962e+00,Kwa Juvenal Ching'Ombe,0,Lake Tanganyika,Tunzi,Rukwa,15,2,Sumbawanga Rural,Mkowe,200,True,GeoData Consultants Ltd,VWC,NaN,False,1991,swn 80,swn 80,handpump,vwc,user-group,never pay,never pay,soft,good,enough,enough,machine dbh,borehole,groundwater,hand pump,hand pump
16,48451,500.0,2011-07-04,Unicef,1703,DWE,34.642439,-9.106185e+00,Kwa John Mtenzi,0,Rufiji,Kidudumo,Iringa,11,4,Njombe,Mdandu,35,True,GeoData Consultants Ltd,WUA,wanging'ombe water supply s,True,1978,gravity,gravity,gravity,wua,user-group,pay monthly,monthly,soft,good,dry,dry,river,river/lake,surface,communal standpipe,communal standpipe
17,58155,0.0,2011-09-04,Unicef,1656,DWE,34.569266,-9.085515e+00,Kwa Rose Chaula,0,Rufiji,Yeriko,Iringa,11,4,Njombe,Usuka,50,True,GeoData Consultants Ltd,WUA,wanging'ombe water supply s,True,1978,gravity,gravity,gravity,wua,user-group,pay when scheme fails,on failure,soft,good,dry,dry,river,river/lake,surface,communal standpipe,communal standpipe
18,34169,0.0,2011-07-22,Hesawa,1162,DWE,32.920154,-1.947868e+00,Ngomee,0,Lake Victoria,Center,Mwanza,19,1,Ukerewe,Ilangala,1000,NaN,GeoData Consultants Ltd,NaN,NaN,True,1999,other,other,other,vwc,user-group,never pay,never pay,milky,milky,insufficient,insufficient,spring,spring,groundwater,other,other
19,18274,500.0,2011-02-22,Danida,1763,Danid,34.508967,-9.894412e+00,none,0,Lake Nyasa,Manyanya,Iringa,11,5,Ludewa,Mawengi,1,True,GeoData Consultants Ltd,VWC,Makanj,True,1992,gravity,gravity,gravity,vwc,user-group,pay annually,annually,soft,good,enough,enough,spring,spring,groundwater,communal standpipe,communal standpipe
20,48375,200.0,2011-02-27,Twe,2216,TWE,34.473430,-9.594990e+00,none,0,Lake Nyasa,Majengo,Iringa,11,4,Njombe,Matola,4,True,GeoData Consultants Ltd,VWC,Kidabu,False,2008,gravity,gravity,gravity,vwc,user-group,pay monthly,monthly,soft,good,enough,enough,spring,spring,groundwater,communal standpipe,communal standpipe
21,6091,0.0,2013-02-10,Dwsp,0,DWE,0.000000,-2.000000e-08,Muungano,0,Lake Victoria,Ibabachegu,Shinyanga,17,1,Bariadi,Ikungulyabashashi,0,NaN,GeoData Consultants Ltd,WUG,NaN,False,0,swn 80,swn 80,handpump,wug,user-group,unknown,unknown,unknown,unknown,unknown,unknown,shallow well,shallow well,groundwater,hand pump,hand pump
22,58500,0.0,2011-10-04,Unicef,1510,DWE,34.586901,-8.980014e+00,Shuleni,0,Rufiji,Mkanivega,Iringa,11,4,Njombe,Usuka,350,True,GeoData Consultants Ltd,WUA,wanging'ombe water supply s,True,1978,gravity,gravity,gravity,wua,user-group,never pay,never pay,soft,good,enough,enough,river,river/lake,surface,communal standpipe,communal standpipe
23,37862,500.0,2013-11-03,Isf,672,ISF,37.940029,-4.125595e+00,Kinonga,0,Pangani,Mkonga Juu,Kilimanjaro,3,3,Same,Kisiwani,210,True,GeoData Consultants Ltd,Water authority,Mashangwi,True,2011,gravity,gravity,gravity,vwc,user-group,pay monthly,monthly,soft,good,enough,enough,river,river/lake,surface,communal standpipe,communal standpipe
24,51058,0.0,2013-01-21,African Development Bank,1645,DWE,29.747066,-4.495568e+00,Kamsasa,0,Lake Tanganyika,Msasa,Kigoma,16,3,Kigoma Rural,Mkigo,156,False,GeoData Consultants Ltd,VWC,Quick wins Program,True,2009,gravity,gravity,gravity,vwc,user-group,unknown,unknown,soft,good,enough,enough,spring,spring,groundwater,improved spring,improved spring
25,22308,0.0,2013-02-25,Government Of Tanzania,1273,DWE,37.422751,-3.317536e+00,Kwa Tukai,0,Pangani,Kitereni,Kilimanjaro,3,4,Moshi Rural,Kimochi,140,True,GeoData Consultants Ltd,VWC,Komaka mandaka,True,1974,gravity,gravity,gravity,vwc,user-group,unknown,unknown,soft,good,enough,enough,spring,spring,groundwater,communal standpipe,communal standpipe
26,55012,500.0,2013-01-16,Sobodo,200,Kilolo Star,39.370777,-9.942532e+00,Ruhoma Primary School,0,Ruvuma / Southern Coast,Shuleni,Lindi,80,23,Lindi Rural,Rutamba,260,False,GeoData Consultants Ltd,VWC,Sobodo Borehole Scheme,False,2011,india mark ii,india mark ii,handpump,vwc,user-group,pay monthly,monthly,soft,good,enough,enough,machine dbh,borehole,groundwater,hand pump,hand pump
27,20145,0.0,2011-07-11,Hesawa,0,DWE,31.104257,-1.735361e+00,Kwawilliam,0,Lake Victoria,Chakahaya,Kagera,18,1,Karagwe,Nyaishozi,0,True,GeoData Consultants Ltd,NaN,NaN,True,0,nira/tanira,nira/tanira,handpump,vwc,user-group,never pay,never pay,soft,good,enough,enough,shallow well,shallow well,groundwater,hand pump,hand pump
28,19685,0.0,2013-03-05,Government Of Tanzania,1443,District council,37.611126,-3.263526e+00,Kwa Kibakaya,0,Pangani,Kiyao,Kilimanjaro,3,1,Rombo,Mengwe Manda,1,True,GeoData Consultants Ltd,Company,Kitukuni water supply,True,2000,gravity,gravity,gravity,company,commercial,pay monthly,monthly,soft,good,insufficient,insufficient,spring,spring,groundwater,communal standpipe,communal standpipe
29,69124,0.0,2013-03-16,Lawatefuka Water Supply,1256,Lawatefuka water sup,37.061688,-3.191989e+00,Kwa Willium Kinda,0,Pangani,Merali,Kilimanjaro,3,7,Siha,Siha Kati,1,True,GeoData Consultants Ltd,Water Board,BL Mwakikoti,True,2002,gravity,gravity,gravity,water board,user-group,pay monthly,monthly,soft,good,enough,enough,spring,spring,groundwater,communal standpipe,communal standpipe
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59370,14796,200.0,2013-01-29,NaN,1154,NaN,30.058731,-4.902633e+00,Village Office,0,Lake Tanganyika,Mazungwe,Kigoma,16,2,Kasulu,Rusesa,1,True,GeoData Consultants Ltd,NaN,NaN,False,0,other,other,other,unknown,unknown,pay monthly,monthly,unknown,unknown,unknown,unknown,unknown,other,unknown,other,other
59371,20387,0.0,2012-10-09,Netherlands,0,DWE,33.586406,-3.040369e+00,Ushirika,0,Lake Victoria,Chambwa,Shinyanga,17,2,Maswa,Kulimi,0,True,GeoData Consultants Ltd,WUG,NaN,False,0,nira/tanira,nira/tanira,handpump,wug,user-group,never pay,never pay,soft,good,enough,enough,shallow well,shallow well,groundwater,hand pump,hand pump
59372,29940,0.0,2012-10-31,Tlc,0,TLC,32.058548,-5.052101e+00,Kwa Mzee Kamanya,0,Lake Tanganyika,Urambo Magharibi,Tabora,14,4,Urambo,Urambo,0,True,GeoData Consultants Ltd,Private operator,NaN,True,0,other,other,other,private operator,commercial,pay per bucket,per bucket,salty,salty,insufficient,insufficient,shallow well,shallow well,groundwater,other,other
59373,15233,5000.0,2013-01-30,Rudep,1137,Distri,32.125024,-6.784358e+00,Kwa Kadiega,0,Lake Rukwa,Mapambano,Rukwa,15,1,Mpanda,Ilela,96,True,GeoData Consultants Ltd,VWC,NaN,True,1988,india mark ii,india mark ii,handpump,vwc,user-group,pay annually,annually,soft,good,enough,enough,machine dbh,borehole,groundwater,hand pump,hand pump
59374,49651,0.0,2012-10-29,Rwssp,0,DWE,0.000000,-2.000000e-08,Nguvu Kazi,0,Lake Victoria,Mwamtani A,Shinyanga,17,1,Bariadi,Sagata,0,True,GeoData Consultants Ltd,WUG,NaN,False,0,nira/tanira,nira/tanira,handpump,wug,user-group,other,other,soft,good,enough,enough,shallow well,shallow well,groundwater,hand pump,hand pump
59375,50998,40000.0,2011-08-03,Government Of Tanzania,54,DWE,39.046942,-5.061494e+00,Sekondari,0,Pangani,Kwa Nyanji,Tanga,4,4,Tanga,Mzizima,609,True,GeoData Consultants Ltd,VWC,Mzizima Water Supply,True,2005,gravity,gravity,gravity,vwc,user-group,pay monthly,monthly,soft,good,enough,enough,river,river/lake,surface,communal standpipe,communal standpipe
59376,34716,0.0,2013-02-03,NaN,1581,NaN,34.821039,-5.076258e+00,Nasingo,0,Internal,Hu,Singida,13,2,Singida Rural,Dung'unyi,1,True,GeoData Consultants Ltd,VWC,NaN,NaN,1990,other,other,other,vwc,user-group,unknown,unknown,unknown,unknown,dry,dry,shallow well,shallow well,groundwater,other,other
59377,43986,0.0,2012-10-23,Government Of Tanzania,0,Government,33.437012,-4.423594e+00,Fpct,0,Internal,Hospital,Tabora,14,2,Igunga,Nkinga,0,True,GeoData Consultants Ltd,Water authority,NaN,False,0,gravity,gravity,gravity,vwc,user-group,never pay,never pay,soft,good,insufficient,insufficient,dam,dam,surface,communal standpipe multiple,communal standpipe
59378,38067,500.0,2011-03-21,Rc,2101,ACRA,34.620387,-9.358405e+00,Michael Msigwa,0,Rufiji,Igelango,Iringa,11,4,Njombe,Imalinyi,36,True,GeoData Consultants Ltd,VWC,Tove mtwango,True,2008,gravity,gravity,gravity,wua,user-group,pay monthly,monthly,soft,good,enough,enough,spring,spring,groundwater,communal standpipe,communal standpipe
59379,58255,0.0,2011-07-13,Do,0,DO,31.613284,-1.820226e+00,Coffee Plantati,0,Lake Victoria,Kaluyango,Kagera,18,3,Muleba,Ikondo,0,True,GeoData Consultants Ltd,VWC,N,True,0,gravity,gravity,gravity,vwc,user-group,never pay,never pay,soft,good,enough,enough,spring,spring,groundwater,communal standpipe,communal standpipe
59380,30647,6000.0,2011-03-14,Roman,1439,Roman,34.942101,-9.849198e+00,none,0,Lake Nyasa,Mnyusi B,Iringa,11,5,Ludewa,Mundindi,50,True,GeoData Consultants Ltd,VWC,Roman,False,1999,gravity,gravity,gravity,vwc,user-group,pay annually,annually,soft,good,dry,dry,spring,spring,groundwater,communal standpipe,communal standpipe
59381,67885,0.0,2011-03-16,Mkinga Distric Coun,0,DWE,38.835001,-4.880204e+00,Mijohoroni,0,Pangani,Mtakuja A,Tanga,4,8,Mkinga,Maramba,360,True,GeoData Consultants Ltd,VWC,Magati water schem,True,1992,gravity,gravity,gravity,vwc,user-group,never pay,never pay,soft,good,insufficient,insufficient,spring,spring,groundwater,communal standpipe,communal standpipe
59382,47002,6.0,2013-08-03,Ces(gmbh),1383,DWE,37.454759,-3.323599e+00,Kwa Luka Msaki,0,Pangani,Yamu Juu,Kilimanjaro,3,4,Moshi Rural,Kirua Vunjo Kusini,1,True,GeoData Consultants Ltd,Water Board,Kirua kahe gravity water supply trust,True,2008,gravity,gravity,gravity,water board,user-group,pay per bucket,per bucket,soft,good,enough,enough,spring,spring,groundwater,communal standpipe,communal standpipe
59383,44616,0.0,2013-01-19,World Bank,11,World bank,39.626009,-1.005750e+01,Shuleni,0,Ruvuma / Southern Coast,Mitumbati,Lindi,80,62,Lindi Urban,Jamhuri,800,True,GeoData Consultants Ltd,NaN,NaN,True,2008,nira/tanira,nira/tanira,handpump,vwc,user-group,unknown,unknown,soft,good,enough,enough,rainwater harvesting,rainwater harvesting,surface,hand pump,hand pump
59384,72148,0.0,2011-07-10,Concern,0,CONCERN,30.667805,-2.483710e+00,Chamkube,0,Lake Victoria,Songambele,Kagera,18,30,Ngara,Nyamiyaga,0,True,GeoData Consultants Ltd,VWC,NaN,False,0,gravity,gravity,gravity,vwc,user-group,never pay,never pay,soft,good,insufficient,insufficient,spring,spring,groundwater,communal standpipe,communal standpipe
59385,34473,500.0,2012-11-03,Jaica,1327,JAICA CO,33.951681,-2.021854e+00,Kwa Marunda,0,Lake Victoria,Mlimani,Mara,20,4,Bunda,Mcharo,200,True,GeoData Consultants Ltd,WUG,NaN,True,2011,afridev,afridev,handpump,wug,user-group,pay monthly,monthly,salty,salty,enough,enough,machine dbh,borehole,groundwater,hand pump,hand pump
59386,34952,0.0,2011-08-22,Adb,1786,DWE,31.738789,-8.532013e+00,Shule Ya Sekondari Katazi,0,Lake Rukwa,Nduza,Rukwa,15,2,Sumbawanga Rural,Katazi,1000,True,GeoData Consultants Ltd,VWC,NaN,False,2009,india mark ii,india mark ii,handpump,vwc,user-group,never pay,never pay,soft,good,enough,enough,machine dbh,borehole,groundwater,hand pump,hand pump
59387,26640,100.0,2013-03-12,0,25,0,39.176480,-6.957098e+00,Kwa Maliba,0,Wami / Ruvu,Mtaa Wa Yangeyange,Dar es Salaam,7,2,Ilala,Msongola,100,NaN,GeoData Consultants Ltd,WUA,M,False,2000,submersible,submersible,submersible,wua,user-group,pay per bucket,per bucket,soft,good,enough,enough,machine dbh,borehole,groundwater,communal standpipe,communal standpipe
59388,72559,0.0,2013-01-29,Kidep,1414,DWE,30.692400,-3.593827e+00,Kwa Philipo Kibeba,0,Lake Tanganyika,Kumwambu,Kigoma,16,1,Kibondo,Kibondo Urban,500,True,GeoData Consultants Ltd,VWC,NaN,True,1995,gravity,gravity,gravity,vwc,user-group,unknown,unknown,soft,good,insufficient,insufficient,spring,spring,groundwater,improved spring,improved spring
59389,30410,0.0,2011-08-06,Co,783,DWE,30.646486,-7.365418e+00,Sekondari,0,Lake Tanganyika,Itete B,Rukwa,15,3,Nkasi,Kirando,1500,False,GeoData Consultants Ltd,VWC,NaN,False,2009,india mark ii,india mark ii,handpump,vwc,user-group,never pay,never pay,soft,good,enough,enough,machine dbh,borehole,groundwater,hand pump,hand pump
59390,13677,0.0,2011-08-04,Rudep,1715,DWE,31.370848,-8.258160e+00,Kwa Mzee Atanas,0,Lake Tanganyika,Kitonto,Rukwa,15,2,Sumbawanga Rural,Mkowe,150,True,GeoData Consultants Ltd,VWC,NaN,False,1991,swn 80,swn 80,handpump,vwc,user-group,never pay,never pay,soft,good,insufficient,insufficient,machine dbh,borehole,groundwater,hand pump,hand pump
59391,44885,0.0,2013-08-03,Government Of Tanzania,540,Government,38.044070,-4.272218e+00,Kwa,0,Pangani,Maore Kati,Kilimanjaro,3,3,Same,Maore,210,True,GeoData Consultants Ltd,Water authority,Hingilili,True,1967,gravity,gravity,gravity,vwc,user-group,never pay,never pay,soft,good,enough,enough,river,river/lake,surface,communal standpipe,communal standpipe
59392,40607,0.0,2011-04-15,Government Of Tanzania,0,Government,33.009440,-8.520888e+00,Benard Charles,0,Lake Rukwa,Mbuyuni A,Mbeya,12,1,Chunya,Mbuyuni,0,True,GeoData Consultants Ltd,VWC,NaN,True,0,gravity,gravity,gravity,vwc,user-group,never pay,never pay,soft,good,enough,enough,spring,spring,groundwater,communal standpipe,communal standpipe
59393,48348,0.0,2012-10-27,Private,0,Private,33.866852,-4.287410e+00,Kwa Peter,0,Internal,Masanga,Tabora,14,2,Igunga,Igunga,0,False,GeoData Consultants Ltd,Water authority,NaN,False,0,gravity,gravity,gravity,private operator,commercial,pay per bucket,per bucket,soft,good,insufficient,insufficient,dam,dam,surface,other,other
59394,11164,500.0,2011-03-09,World Bank,351,ML appro,37.634053,-6.124830e+00,Chimeredya,0,Wami / Ruvu,Komstari,Morogoro,5,6,Mvomero,Diongoya,89,True,GeoData Consultants Ltd,VWC,NaN,True,2007,submersible,submersible,submersible,vwc,user-group,pay monthly,monthly,soft,good,enough,enough,machine dbh,borehole,groundwater,communal standpipe,communal standpipe
59395,60739,10.0,2013-05-03,Germany Republi,1210,CES,37.169807,-3.253847e+00,Area Three Namba 27,0,Pangani,Kiduruni,Kilimanjaro,3,5,Hai,Masama Magharibi,125,True,GeoData Consultants Ltd,Water Board,Losaa Kia water supply,True,1999,gravity,gravity,gravity,water board,user-group,pay per bucket,per bucket,soft,good,enough,enough,spring,spring,groundwater,communal standpipe,communal standpipe

In [14]:
train_labels_df = pd.read_csv('train_labels.csv')
train_labels_df

          id             status_group
0      69572               functional
1       8776               functional
2      34310               functional
3      67743           non functional
4      19728               functional
5       9944               functional
6      19816           non functional
7      54551           non functional
8      53934           non functional
9      46144               functional
10     49056               functional
11     50409               functional
12     36957               functional
13     50495               functional
14     53752               functional
15     61848               functional
16     48451           non functional
17     58155           non functional
18     34169  functional needs repair
19     18274               functional
20     48375               functional
21      6091               functional
22     58500  functional needs repair
23     37862               functional
24     51058               functional
25     22308  functional needs repair
26     55012               functional
27     20145               functional
28     19685           non functional
29     69124               functional
...      ...                      ...
59370  14796               functional
59371  20387           non functional
59372  29940           non functional
59373  15233               functional
59374  49651               functional
59375  50998               functional
59376  34716           non functional
59377  43986           non functional
59378  38067               functional
59379  58255               functional
59380  30647           non functional
59381  67885           non functional
59382  47002           non functional
59383  44616               functional
59384  72148           non functional
59385  34473               functional
59386  34952               functional
59387  26640               functional
59388  72559               functional
59389  30410               functional
59390  13677               functional
59391  44885           non functional
59392  40607           non functional
59393  48348               functional
59394  11164           non functional
59395  60739               functional
59396  27263               functional
59397  37057               functional
59398  31282               functional
59399  26348               functional

[59400 rows x 2 columns]

In [15]:
train_df.shape, train_labels_df.shape

((59400, 40), (59400, 2))

In [16]:
test_df = pd.read_csv('test_features.csv')
test_df

,id,amount_tsh,date_recorded,funder,gps_height,installer,longitude,latitude,wpt_name,num_private,basin,subvillage,region,region_code,district_code,lga,ward,population,public_meeting,recorded_by,scheme_management,scheme_name,permit,construction_year,extraction_type,extraction_type_group,extraction_type_class,management,management_group,payment,payment_type,water_quality,quality_group,quantity,quantity_group,source,source_type,source_class,waterpoint_type,waterpoint_type_group
0,50785,0.0,2013-02-04,Dmdd,1996,DMDD,35.290799,-4.059696e+00,Dinamu Secondary School,0,Internal,Magoma,Manyara,21,3,Mbulu,Bashay,321,True,GeoData Consultants Ltd,Parastatal,NaN,True,2012,other,other,other,parastatal,parastatal,never pay,never pay,soft,good,seasonal,seasonal,rainwater harvesting,rainwater harvesting,surface,other,other
1,51630,0.0,2013-02-04,Government Of Tanzania,1569,DWE,36.656709,-3.309214e+00,Kimnyak,0,Pangani,Kimnyak,Arusha,2,2,Arusha Rural,Kimnyaki,300,True,GeoData Consultants Ltd,VWC,TPRI pipe line,True,2000,gravity,gravity,gravity,vwc,user-group,never pay,never pay,soft,good,insufficient,insufficient,spring,spring,groundwater,communal standpipe,communal standpipe
2,17168,0.0,2013-02-01,NaN,1567,NaN,34.767863,-5.004344e+00,Puma Secondary,0,Internal,Msatu,Singida,13,2,Singida Rural,Puma,500,True,GeoData Consultants Ltd,VWC,P,NaN,2010,other,other,other,vwc,user-group,never pay,never pay,soft,good,insufficient,insufficient,rainwater harvesting,rainwater harvesting,surface,other,other
3,45559,0.0,2013-01-22,Finn Water,267,FINN WATER,38.058046,-9.418672e+00,Kwa Mzee Pange,0,Ruvuma / Southern Coast,Kipindimbi,Lindi,80,43,Liwale,Mkutano,250,NaN,GeoData Consultants Ltd,VWC,NaN,True,1987,other,other,other,vwc,user-group,unknown,unknown,soft,good,dry,dry,shallow well,shallow well,groundwater,other,other
4,49871,500.0,2013-03-27,Bruder,1260,BRUDER,35.006123,-1.095041e+01,Kwa Mzee Turuka,0,Ruvuma / Southern Coast,Losonga,Ruvuma,10,3,Mbinga,Mbinga Urban,60,NaN,GeoData Consultants Ltd,Water Board,BRUDER,True,2000,gravity,gravity,gravity,water board,user-group,pay monthly,monthly,soft,good,enough,enough,spring,spring,groundwater,communal standpipe,communal standpipe
5,52449,0.0,2013-03-04,Government Of Tanzania,1685,DWE,36.685279,-3.302420e+00,Masaga,0,Pangani,Masaga,Arusha,2,2,Arusha Rural,Ilkiding'a,200,True,GeoData Consultants Ltd,VWC,Timbolo sambasha TPRI pipe line,True,1990,gravity,gravity,gravity,vwc,user-group,never pay,never pay,soft,good,enough,enough,spring,spring,groundwater,communal standpipe,communal standpipe
6,24806,0.0,2011-03-02,Government Of Tanzania,550,Gover,36.398041,-7.541382e+00,none,0,Rufiji,Kichangani,Iringa,11,7,Kilolo,Mahenge,600,True,GeoData Consultants Ltd,VWC,NaN,True,2007,india mark ii,india mark ii,handpump,vwc,user-group,never pay,never pay,salty,salty,enough,enough,machine dbh,borehole,groundwater,hand pump,hand pump
7,28965,0.0,2013-01-25,Finw,234,FinW,39.607420,-1.089379e+01,Kwa Mkwaa,0,Ruvuma / Southern Coast,Ilala,Mtwara,9,4,Tandahimba,Maundo,1,True,GeoData Consultants Ltd,Water Board,Borehole,True,1982,submersible,submersible,submersible,vwc,user-group,never pay,never pay,soft,good,dry,dry,machine dbh,borehole,groundwater,communal standpipe multiple,communal standpipe
8,36301,30.0,2013-01-23,Unicef,584,LGA,39.262951,-1.082359e+01,Kwa Mzee Mpini,0,Ruvuma / Southern Coast,Bondeni,Mtwara,90,33,Newala,Mnekachi,40,True,GeoData Consultants Ltd,VWC,MWS,False,1997,gravity,gravity,gravity,vwc,user-group,pay per bucket,per bucket,soft,good,insufficient,insufficient,spring,spring,groundwater,communal standpipe,communal standpipe
9,54122,0.0,2013-03-18,Lawatefuka Water Supply,1083,Lawatefuka water sup,37.096108,-3.251754e+00,Kwa Flora Daud,0,Pangani,Donyomuruak,Kilimanjaro,3,7,Siha,Siha Kati,1,True,GeoData Consultants Ltd,Water Board,BL Erasto Laizer,True,2003,gravity,gravity,gravity,water board,user-group,pay monthly,monthly,soft,good,enough,enough,spring,spring,groundwater,communal standpipe,communal standpipe
10,419,5.0,2013-10-03,Germany Republi,1259,CES,37.233248,-3.241121e+00,Kwa Anna P Muro,0,Pangani,Saa,Kilimanjaro,3,5,Hai,Machame Kaskazini,75,True,GeoData Consultants Ltd,Water Board,Lyamungo-Umbwe water supply,True,2006,gravity,gravity,gravity,water board,user-group,pay per bucket,per bucket,soft,good,enough,enough,spring,spring,groundwater,communal standpipe,communal standpipe
11,45750,0.0,2013-02-27,World Vision,608,World vision,37.686392,-4.555975e+00,Shuleni,0,Pangani,Remit,Manyara,21,4,Simanjiro,Ruvu Remit,500,True,GeoData Consultants Ltd,NaN,NaN,True,2002,other,other,other,vwc,user-group,never pay,never pay,soft,good,dry,dry,rainwater harvesting,rainwater harvesting,surface,other,other
12,653,0.0,2012-10-11,World Bank,0,Building works company Ltd,33.661074,-4.165720e+00,Kwa Nzega,0,Internal,Chonja,Tabora,14,2,Igunga,Itunduru,0,True,GeoData Consultants Ltd,Other,World Bank,True,0,mono,mono,motorpump,vwc,user-group,unknown,unknown,soft,good,dry,dry,machine dbh,borehole,groundwater,communal standpipe multiple,communal standpipe
13,14017,0.0,2011-07-29,Ministry Of Water,0,DWE,33.007680,-3.209529e+00,Gati La Shuleni,0,Lake Victoria,Ilobashi,Mwanza,19,4,Kwimba,Bupamwa,0,True,GeoData Consultants Ltd,VWC,Mradi wa maji Kiliwi,True,0,mono,mono,motorpump,vwc,user-group,pay per bucket,per bucket,soft,good,enough,enough,machine dbh,borehole,groundwater,communal standpipe multiple,communal standpipe
14,40228,1200.0,2013-06-03,Danida,916,DWE,35.482886,-1.091260e+01,Kwa Daniela,0,Ruvuma / Southern Coast,Mkulu,Ruvuma,10,2,Songea Rural,Ndogosi,0,True,GeoData Consultants Ltd,VWC,Mradi wa maji wa ndongosi,True,1989,gravity,gravity,gravity,vwc,user-group,pay annually,annually,soft,good,enough,enough,river,river/lake,surface,communal standpipe multiple,communal standpipe
15,27714,0.0,2011-02-24,NaN,-39,NaN,39.850190,-7.727946e+00,Kitotoni,0,Rufiji,Barabarani,Pwani,6,6,Mafia,Kanga,900,True,GeoData Consultants Ltd,VWC,NaN,False,0,nira/tanira,nira/tanira,handpump,vwc,user-group,never pay,never pay,soft,good,enough,enough,shallow well,shallow well,groundwater,hand pump,hand pump
16,28785,200.0,2011-03-11,Government Of Tanzania,1793,DWE,38.254024,-4.565802e+00,Magagai Hospital,0,Pangani,Magagai 2,Tanga,4,1,Lushoto,Rangwi,1,True,GeoData Consultants Ltd,VWC,Shagayo forest,True,1978,gravity,gravity,gravity,vwc,user-group,pay monthly,monthly,soft,good,enough,enough,spring,spring,groundwater,communal standpipe,communal standpipe
17,18532,0.0,2013-02-02,Finw,368,FinW,39.438526,-1.058337e+01,Liponde A,0,Ruvuma / Southern Coast,Liponde A,Mtwara,9,4,Tandahimba,Chaume,300,True,GeoData Consultants Ltd,Water Board,Borehole,True,1982,submersible,submersible,submersible,vwc,user-group,never pay,never pay,soft,good,dry,dry,machine dbh,borehole,groundwater,communal standpipe,communal standpipe
18,69961,0.0,2013-03-12,0,-27,0,39.322307,-6.850262e+00,Shuleni,0,Wami / Ruvu,Kisiwani,Dar es Salaam,7,3,Temeke,Vijibweni,120,True,GeoData Consultants Ltd,SWC,NaN,False,2010,submersible,submersible,submersible,other - school,other,never pay,never pay,soft,good,enough,enough,machine dbh,borehole,groundwater,communal standpipe,communal standpipe
19,55083,0.0,2011-03-07,Dwe,1674,DWE,34.943620,-9.352515e+00,none,0,Rufiji,Matewele,Iringa,11,4,Njombe,Yakobi,30,True,GeoData Consultants Ltd,VWC,Lukwal,False,2008,gravity,gravity,gravity,vwc,user-group,never pay,never pay,soft,good,insufficient,insufficient,spring,spring,groundwater,communal standpipe,communal standpipe
20,8691,0.0,2013-02-04,Tasaf,1087,DWE,31.046088,-5.054196e+00,Kwa Yorodan,0,Lake Tanganyika,Kibondo,Kigoma,16,3,Kigoma Rural,Mtego wa Noti,1750,True,GeoData Consultants Ltd,VWC,NaN,True,2005,other,other,other,vwc,user-group,unknown,unknown,milky,milky,enough,enough,shallow well,shallow well,groundwater,other,other
21,30331,0.0,2013-02-09,NaN,1441,NaN,34.621048,-5.165926e+00,Andrea,0,Internal,Muhintiri,Singida,13,2,Singida Rural,Naintiri,1,True,GeoData Consultants Ltd,VWC,M,NaN,1970,mono,mono,motorpump,vwc,user-group,unknown,unknown,unknown,unknown,dry,dry,machine dbh,borehole,groundwater,communal standpipe,communal standpipe
22,70970,0.0,2012-10-07,Mwanashila,0,DWE,33.722359,-3.047122e+00,Toyekukoya Groups,0,Lake Victoria,Ging'Hi,Shinyanga,17,2,Maswa,Buchambi,0,True,GeoData Consultants Ltd,WUG,NaN,False,0,nira/tanira,nira/tanira,handpump,wug,user-group,never pay,never pay,soft,good,enough,enough,shallow well,shallow well,groundwater,hand pump,hand pump
23,61136,200.0,2011-02-23,Tz Japan,1726,DWE,34.929592,-9.152872e+00,Kwa Tega,0,Rufiji,Mpeto A,Iringa,11,4,Njombe,Ikuka,50,True,GeoData Consultants Ltd,VWC,Ikuna gravity water Scheme,False,2008,gravity,gravity,gravity,vwc,user-group,pay monthly,monthly,soft,good,enough,enough,spring,spring,groundwater,communal standpipe,communal standpipe
24,28799,0.0,2013-02-18,Germany,986,DWE,35.424443,-1.057969e+01,Shule Ya Msingi Mapo,0,Ruvuma / Southern Coast,Mabatini,Ruvuma,10,2,Songea Rural,Maposeni,0,True,GeoData Consultants Ltd,VWC,Mradi wa maji wa maposeni,True,2009,gravity,gravity,gravity,vwc,user-group,never pay,never pay,soft,good,dry,dry,river,river/lake,surface,communal standpipe,communal standpipe
25,46825,0.0,2011-04-10,Water,0,MWE &,35.894877,-6.147522e+00,Kwa Mbogambi,0,Wami / Ruvu,Chididimo,Dodoma,1,5,Dodoma Urban,Mtumba,0,True,GeoData Consultants Ltd,VWC,Ihum,False,0,mono,mono,motorpump,vwc,user-group,pay per bucket,per bucket,salty,salty,dry,dry,machine dbh,borehole,groundwater,communal standpipe multiple,communal standpipe
26,44718,0.0,2013-02-04,Dwsp,0,DWE,0.000000,-2.000000e-08,Nkubanija,0,Lake Victoria,Nkonze,Shinyanga,17,1,Bariadi,Lugulu,0,True,GeoData Consultants Ltd,WUG,NaN,False,0,nira/tanira,nira/tanira,handpump,wug,user-group,pay when scheme fails,on failure,salty abandoned,salty,enough,enough,shallow well,shallow well,groundwater,hand pump,hand pump
27,37350,0.0,2013-02-20,Bffs,1309,BFFS,36.291761,-5.242313e+00,Zahanati,0,Internal,Mapinduzi,Manyara,21,5,Kiteto,Olbolot,860,True,GeoData Consultants Ltd,VWC,BFFS,False,2002,gravity,gravity,gravity,vwc,user-group,never pay,never pay,soft,good,seasonal,seasonal,rainwater harvesting,rainwater harvesting,surface,communal standpipe,communal standpipe
28,65738,5.0,2013-12-03,Private Individual,1564,Dmdd,35.612417,-3.351168e+00,Bado,0,Internal,Dofa,Arusha,24,30,Karatu,Qurus,200,True,GeoData Consultants Ltd,VWC,Gyewasu,True,2002,gravity,gravity,gravity,vwc,user-group,pay per bucket,per bucket,soft,good,enough,enough,river,river/lake,surface,communal standpipe,communal standpipe
29,3271,0.0,2012-10-29,Government Of Tanzania,0,DWE,32.861782,-3.928199e+00,Gati La Selemi,0,Internal,Selemi,Tabora,14,1,Nzega,Igusule,0,False,GeoData Consultants Ltd,VWC,NaN,True,0,mono,mono,motorpump,vwc,user-group,never pay,never pay,soft,good,enough,enough,machine dbh,borehole,groundwater,communal standpipe,communal standpipe
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14328,73579,500.0,2012-10-25,Hesawa,1523,Hesawa,34.694864,-1.770700e+00,Marwa Masubwa,0,Lake Victoria,Center,Mara,20,2,Serengeti,Machochwe,600,True,GeoData Consultants Ltd,VWC,NaN,NaN,1994,other - rope pump,rope pump,rope pump,vwc,user-group,pay monthly,monthly,soft,good,enough,enough,shallow well,shallow well,groundwater,hand pump,hand pump
14329,52228,0.0,2013-01-27,Dbfpe,265,DBFPE,38.504640,-1.016990e+01,Shule Ya Msingi Mayaka,0,Ruvuma / Southern Coast,Mayaka,Lindi,8,3,Nachingwea,Lionja,749,True,GeoData Consultants Ltd,VWC,NaN,False,2001,gravity,gravity,gravity,vwc,user-group,never pay,never pay,soft,good,seasonal,seasonal,rainwater harvesting,rainwater harvesting,surface,communal standpipe,communal standpipe
14330,70038,5.0,2013-03-29,Ces (gmbh),1322,DWE,37.261731,-3.235687e+00,Kwa Leonard Soka,0,Pangani,Mnara,Kilimanjaro,3,4,Moshi Rural,Kibosho Magharibi,45,True,GeoData Consultants Ltd,Water Board,Lyamungo umbwe water supply,True,2007,gravity,gravity,gravity,water board,user-group,pay per bucket,per bucket,soft,good,enough,enough,river,river/lake,surface,communal standpipe,communal standpipe
14331,25901,50.0,2013-01-22,Lga,640,LGA,39.297410,-1.092504e+01,Tangini,0,Ruvuma / Southern Coast,Mbwenga,Mtwara,90,33,Newala,Luchingu,360,True,GeoData Consultants Ltd,Other,MWS,False,1997,gravity,gravity,gravity,other,other,pay per bucket,per bucket,soft,good,insufficient,insufficient,spring,spring,groundwater,communal standpipe,communal standpipe
14332,26580,0.0,2011-04-20,Po,574,Po,37.070462,-6.575076e+00,Mwanji,0,Wami / Ruvu,Kaege,Morogoro,5,1,Kilosa,Rudewa,250,True,GeoData Consultants Ltd,VWC,NaN,True,2008,swn 80,swn 80,handpump,vwc,user-group,never pay,never pay,soft,good,insufficient,insufficient,shallow well,shallow well,groundwater,hand pump,hand pump
14333,66059,0.0,2013-02-02,Fin Water,331,FIN WATER,38.761961,-1.091314e+01,Mkwajuni,0,Ruvuma / Southern Coast,Mkwajuni,Mtwara,90,63,Nanyumbu,Nandete,89,True,GeoData Consultants Ltd,VWC,NaN,True,1978,india mark ii,india mark ii,handpump,vwc,user-group,never pay,never pay,soft,good,insufficient,insufficient,machine dbh,borehole,groundwater,hand pump,hand pump
14334,32944,0.0,2012-10-24,World Vision,0,World vision,32.243937,-3.311621e+00,Umoja,0,Lake Tanganyika,Nyakaziba,Shinyanga,17,5,Bukombe,Ushirika,0,NaN,GeoData Consultants Ltd,WUG,NaN,True,0,nira/tanira,nira/tanira,handpump,wug,user-group,unknown,unknown,soft,good,enough,enough,shallow well,shallow well,groundwater,hand pump,hand pump
14335,13686,0.0,2011-07-23,Hesawa,0,HESAWA,32.985694,-2.734208e+00,Kwa Itob,0,Lake Victoria,Kabita,Mwanza,19,7,Sengerema,Buzilasoga,0,True,GeoData Consultants Ltd,VWC,NaN,True,0,nira/tanira,nira/tanira,handpump,vwc,user-group,pay annually,annually,soft,good,enough,enough,shallow well,shallow well,groundwater,hand pump,hand pump
14336,8471,50.0,2011-02-20,Private,78,Private,39.254272,-7.060921e+00,Mkopi,0,Wami / Ruvu,Mivule,Pwani,60,43,Mkuranga,Tambani,70,False,GeoData Consultants Ltd,Private operator,NaN,False,0,other,other,other,private operator,commercial,pay per bucket,per bucket,salty,salty,enough,enough,machine dbh,borehole,groundwater,other,other
14337,19620,0.0,2013-01-03,Government Of Tanzania,836,Government,35.227320,-1.103905e+01,Kituo Ch Afya,0,Ruvuma / Southern Coast,Ngemba Mbili,Ruvuma,10,3,Mbinga,Mpepai,80,NaN,GeoData Consultants Ltd,VWC,Government,True,2005,gravity,gravity,gravity,vwc,user-group,unknown,unknown,soft,good,enough,enough,spring,spring,groundwater,communal standpipe,communal standpipe
14338,74162,0.0,2013-03-19,Tcrs,1651,TCRS,37.962243,-4.494348e+00,Kwa Andrew,0,Pangani,Kasiru Kagati,Kilimanjaro,3,3,Same,Vunta,150,True,GeoData Consultants Ltd,Water authority,Mayeni water supply,True,1996,gravity,gravity,gravity,vwc,user-group,never pay,never pay,soft,good,insufficient,insufficient,spring,spring,groundwater,communal standpipe,communal standpipe
14339,37994,0.0,2012-10-26,Hesawa,0,DWE,0.000000,-2.000000e-08,Kwa Masilili,0,Lake Victoria,Solima A,Mwanza,19,2,Magu,Kabita,0,True,GeoData Consultants Ltd,VWC,NaN,True,0,nira/tanira,nira/tanira,handpump,vwc,user-group,never pay,never pay,salty,salty,enough,enough,shallow well,shallow well,groundwater,hand pump,hand pump
14340,71151,0.0,2013-03-25,Kkkt,1393,KKKT,36.930169,-3.255077e+00,Tankini,0,Pangani,Mlimani,Arusha,2,7,Meru,Leguruki,260,True,GeoData Consultants Ltd,VWC,NaN,False,2001,submersible,submersible,submersible,vwc,user-group,unknown,unknown,fluoride abandoned,fluoride,enough,enough,machine dbh,borehole,groundwater,communal standpipe,communal standpipe
14341,45017,1000.0,2011-03-05,Kkkt,1729,Commu,34.302104,-9.455737e+00,none,0,Lake Nyasa,Lukunga,Iringa,11,3,Makete,Ipepo,0,True,GeoData Consultants Ltd,VWC,Ikete,False,2003,gravity,gravity,gravity,vwc,user-group,pay annually,annually,soft,good,enough,enough,spring,spring,groundwater,communal standpipe,communal standpipe
14342,12592,0.0,2011-03-27,Kirde,0,DWE,35.840727,-4.633272e+00,Kwa Mrangi,0,Internal,Cheke,Dodoma,1,1,Kondoa,Mnenia,0,True,GeoData Consultants Ltd,VWC,Itun,False,0,gravity,gravity,gravity,vwc,user-group,pay monthly,monthly,soft,good,insufficient,insufficient,spring,spring,groundwater,communal standpipe,communal standpipe
14343,58693,0.0,2013-01-25,Rwssp,0,DWE,32.442886,-3.644662e+00,Busangi,0,Lake Tanganyika,Bukalangi,Shinyanga,17,3,Kahama,Ntobo,0,True,GeoData Consultants Ltd,NaN,NaN,True,0,nira/tanira,nira/tanira,handpump,wug,user-group,unknown,unknown,soft,good,enough,enough,shallow well,shallow well,groundwater,hand pump,hand pump
14344,57539,0.0,2011-03-18,Amref,-7,AMREF,39.140091,-7.477423e+00,Nyamalonda,0,Rufiji,Nyamalonda,Pwani,6,4,Mkuranga,Lukanga,40,True,GeoData Consultants Ltd,VWC,NaN,False,2009,swn 80,swn 80,handpump,vwc,user-group,never pay,never pay,soft,good,enough,enough,shallow well,shallow well,groundwater,hand pump,hand pump
14345,71252,500.0,2013-02-10,Tasaf,1241,TASAF,30.114667,-4.162845e+00,Pentecoste Church,0,Lake Tanganyika,Minazi,Kigoma,16,2,Kasulu,Kilelema,780,True,GeoData Consultants Ltd,Water authority,NaN,False,2010,india mark ii,india mark ii,handpump,vwc,user-group,pay annually,annually,soft,good,enough,enough,machine dbh,borehole,groundwater,hand pump,hand pump
14346,7869,3000.0,2011-03-11,Kkkt,2046,Commu,34.345525,-9.547077e+00,none,0,Lake Nyasa,Kipengele,Iringa,11,3,Makete,Lupila,0,True,GeoData Consultants Ltd,VWC,Ludilu,False,1986,gravity,gravity,gravity,vwc,user-group,pay annually,annually,soft,good,enough,enough,spring,spring,groundwater,communal standpipe,communal standpipe
14347,57316,0.0,2011-03-11,Devon Aid Korogwe,347,Local technician,38.613415,-4.815222e+00,Jahiya,0,Pangani,Foroforo,Tanga,4,2,Korogwe,Kizara,300,True,GeoData Consultants Ltd,Other,Forforo water supply,False,2005,gravity,gravity,gravity,other,other,never pay,never pay,soft,good,insufficient,insufficient,spring,spring,groundwater,communal standpipe,communal standpipe
14348,59757,0.0,2013-02-24,Villagers,1291,Villagers,35.345384,-9.831170e+00,Kwa Reonard,0,Lake Nyasa,Tuliani,Ruvuma,10,2,Songea Rural,Wino,0,True,GeoData Consultants Ltd,VWC,Mradi wa maji wa wino,True,2009,gravity,gravity,gravity,vwc,user-group,never pay,never pay,soft,good,enough,enough,river,river/lake,surface,communal standpipe,communal standpipe
14349,64579,0.0,2012-10-26,Dwsp,0,DWE,0.000000,-2.000000e-08,Iguna,0,Lake Victoria,Nyerere,Shinyanga,17,1,Bariadi,Kasoli,0,NaN,GeoData Consultants Ltd,WUG,NaN,False,0,swn 80,swn 80,handpump,wug,user-group,unknown,unknown,soft,good,enough,enough,shallow well,shallow well,groundwater,hand pump,hand pump
14350,57731,600.0,2013-01-27,Isf,808,DWE,29.740224,-4.882705e+00,Hongera,0,Lake Tanganyika,Mzizini A,Kigoma,16,3,Kigoma Rural,Simbo,230,True,GeoData Consultants Ltd,WUG,Mkongoro Two,True,2009,gravity,gravity,gravity,vwc,user-group,pay monthly,monthly,soft,good,enough,enough,river,river/lake,surface,communal standpipe multiple,communal standpipe
14351,65541,0.0,2013-02-04,Oxfarm,1641,OXFARM,29.768139,-4.480618e+00,Mwandami,0,Lake Tanganyika,Kosoro,Kigoma,16,2,Kigoma Rural,Mkigo,1400,True,GeoData Consultants Ltd,Water authority,NaN,False,1995,other,other,other,vwc,user-group,never pay,never pay,soft,good,enough,enough,spring,spring,groundwater,other,other
14352,68174,0.0,2012-11-07,Netherlands,0,DWE,34.096878,-3.079689e+00,Ikanayugu,0,Lake Victoria,Maganju,Shinyanga,17,2,Maswa,Ipililo,0,True,GeoData Consultants Ltd,WUG,NaN,False,0,nira/tanira,nira/tanira,handpump,wug,user-group,other,other,soft,good,enough,enough,shallow well,shallow well,groundwater,hand pump,hand pump
14353,39307,0.0,2011-02-24,Danida,34,Da,38.852669,-6.582841e+00,Kwambwezi,0,Wami / Ruvu,Yombo,Pwani,6,1,Bagamoyo,Yombo,20,True,GeoData Consultants Ltd,VWC,Bagamoyo wate,True,1988,mono,mono,motorpump,vwc,user-group,never pay,never pay,soft,good,enough,enough,river,river/lake,surface,communal standpipe,communal standpipe

In [17]:
train_df.shape, test_df.shape

((59400, 40), (14358, 40))

In [18]:
sample = pd.read_csv('sample_submission.csv')
sample

          id status_group
0      50785   functional
1      51630   functional
2      17168   functional
3      45559   functional
4      49871   functional
5      52449   functional
6      24806   functional
7      28965   functional
8      36301   functional
9      54122   functional
10       419   functional
11     45750   functional
12       653   functional
13     14017   functional
14     40228   functional
15     27714   functional
16     28785   functional
17     18532   functional
18     69961   functional
19     55083   functional
20      8691   functional
21     30331   functional
22     70970   functional
23     61136   functional
24     28799   functional
25     46825   functional
26     44718   functional
27     37350   functional
28     65738   functional
29      3271   functional
...      ...          ...
14328  73579   functional
14329  52228   functional
14330  70038   functional
14331  25901   functional
14332  26580   functional
14333  66059   functional
14334  32944   functional
14335  13686   functional
14336   8471   functional
14337  19620   functional
14338  74162   functional
14339  37994   functional
14340  71151   functional
14341  45017   functional
14342  12592   functional
14343  58693   functional
14344  57539   functional
14345  71252   functional
14346   7869   functional
14347  57316   functional
14348  59757   functional
14349  64579   functional
14350  57731   functional
14351  65541   functional
14352  68174   functional
14353  39307   functional
14354  18990   functional
14355  28749   functional
14356  33492   functional
14357  68707   functional

[14358 rows x 2 columns]

In [19]:
train_new = pd.merge(train_df,train_labels_df,how='inner',on='id')
train_new.head()

,id,amount_tsh,date_recorded,funder,gps_height,installer,longitude,latitude,wpt_name,num_private,basin,subvillage,region,region_code,district_code,lga,ward,population,public_meeting,recorded_by,scheme_management,scheme_name,permit,construction_year,extraction_type,extraction_type_group,extraction_type_class,management,management_group,payment,payment_type,water_quality,quality_group,quantity,quantity_group,source,source_type,source_class,waterpoint_type,waterpoint_type_group,status_group
0,69572,6000.0,2011-03-14,Roman,1390,Roman,34.938093,-9.856322,none,0,Lake Nyasa,Mnyusi B,Iringa,11,5,Ludewa,Mundindi,109,True,GeoData Consultants Ltd,VWC,Roman,False,1999,gravity,gravity,gravity,vwc,user-group,pay annually,annually,soft,good,enough,enough,spring,spring,groundwater,communal standpipe,communal standpipe,functional
1,8776,0.0,2013-03-06,Grumeti,1399,GRUMETI,34.698766,-2.147466,Zahanati,0,Lake Victoria,Nyamara,Mara,20,2,Serengeti,Natta,280,NaN,GeoData Consultants Ltd,Other,NaN,True,2010,gravity,gravity,gravity,wug,user-group,never pay,never pay,soft,good,insufficient,insufficient,rainwater harvesting,rainwater harvesting,surface,communal standpipe,communal standpipe,functional
2,34310,25.0,2013-02-25,Lottery Club,686,World vision,37.460664,-3.821329,Kwa Mahundi,0,Pangani,Majengo,Manyara,21,4,Simanjiro,Ngorika,250,True,GeoData Consultants Ltd,VWC,Nyumba ya mungu pipe scheme,True,2009,gravity,gravity,gravity,vwc,user-group,pay per bucket,per bucket,soft,good,enough,enough,dam,dam,surface,communal standpipe multiple,communal standpipe,functional
3,67743,0.0,2013-01-28,Unicef,263,UNICEF,38.486161,-11.155298,Zahanati Ya Nanyumbu,0,Ruvuma / Southern Coast,Mahakamani,Mtwara,90,63,Nanyumbu,Nanyumbu,58,True,GeoData Consultants Ltd,VWC,NaN,True,1986,submersible,submersible,submersible,vwc,user-group,never pay,never pay,soft,good,dry,dry,machine dbh,borehole,groundwater,communal standpipe multiple,communal standpipe,non functional
4,19728,0.0,2011-07-13,Action In A,0,Artisan,31.130847,-1.825359,Shuleni,0,Lake Victoria,Kyanyamisa,Kagera,18,1,Karagwe,Nyakasimbi,0,True,GeoData Consultants Ltd,NaN,NaN,True,0,gravity,gravity,gravity,other,other,never pay,never pay,soft,good,seasonal,seasonal,rainwater harvesting,rainwater harvesting,surface,communal standpipe,communal standpipe,functional

In [57]:
dict = {'functional':1,'non functional':2,'functional needs repair':3}
train_new['status_number'] = train_new['status_group'].map(dict)


train_new

,id,amount_tsh,date_recorded,funder,gps_height,installer,longitude,latitude,wpt_name,num_private,basin,subvillage,region,region_code,district_code,lga,ward,population,public_meeting,recorded_by,scheme_management,scheme_name,permit,construction_year,extraction_type,extraction_type_group,extraction_type_class,management,management_group,payment,payment_type,water_quality,quality_group,quantity,quantity_group,source,source_type,source_class,waterpoint_type,waterpoint_type_group,status_group,status_number
0,69572,6000.0,2011-03-14,Roman,1390,Roman,34.938093,-9.856322e+00,none,0,Lake Nyasa,Mnyusi B,Iringa,11,5,Ludewa,Mundindi,109,True,GeoData Consultants Ltd,VWC,Roman,False,1999,gravity,gravity,gravity,vwc,user-group,pay annually,annually,soft,good,enough,enough,spring,spring,groundwater,communal standpipe,communal standpipe,functional,1
1,8776,0.0,2013-03-06,Grumeti,1399,GRUMETI,34.698766,-2.147466e+00,Zahanati,0,Lake Victoria,Nyamara,Mara,20,2,Serengeti,Natta,280,NaN,GeoData Consultants Ltd,Other,NaN,True,2010,gravity,gravity,gravity,wug,user-group,never pay,never pay,soft,good,insufficient,insufficient,rainwater harvesting,rainwater harvesting,surface,communal standpipe,communal standpipe,functional,1
2,34310,25.0,2013-02-25,Lottery Club,686,World vision,37.460664,-3.821329e+00,Kwa Mahundi,0,Pangani,Majengo,Manyara,21,4,Simanjiro,Ngorika,250,True,GeoData Consultants Ltd,VWC,Nyumba ya mungu pipe scheme,True,2009,gravity,gravity,gravity,vwc,user-group,pay per bucket,per bucket,soft,good,enough,enough,dam,dam,surface,communal standpipe multiple,communal standpipe,functional,1
3,67743,0.0,2013-01-28,Unicef,263,UNICEF,38.486161,-1.115530e+01,Zahanati Ya Nanyumbu,0,Ruvuma / Southern Coast,Mahakamani,Mtwara,90,63,Nanyumbu,Nanyumbu,58,True,GeoData Consultants Ltd,VWC,NaN,True,1986,submersible,submersible,submersible,vwc,user-group,never pay,never pay,soft,good,dry,dry,machine dbh,borehole,groundwater,communal standpipe multiple,communal standpipe,non functional,2
4,19728,0.0,2011-07-13,Action In A,0,Artisan,31.130847,-1.825359e+00,Shuleni,0,Lake Victoria,Kyanyamisa,Kagera,18,1,Karagwe,Nyakasimbi,0,True,GeoData Consultants Ltd,NaN,NaN,True,0,gravity,gravity,gravity,other,other,never pay,never pay,soft,good,seasonal,seasonal,rainwater harvesting,rainwater harvesting,surface,communal standpipe,communal standpipe,functional,1
5,9944,20.0,2011-03-13,Mkinga Distric Coun,0,DWE,39.172796,-4.765587e+00,Tajiri,0,Pangani,Moa/Mwereme,Tanga,4,8,Mkinga,Moa,1,True,GeoData Consultants Ltd,VWC,Zingibali,True,2009,submersible,submersible,submersible,vwc,user-group,pay per bucket,per bucket,salty,salty,enough,enough,other,other,unknown,communal standpipe multiple,communal standpipe,functional,1
6,19816,0.0,2012-10-01,Dwsp,0,DWSP,33.362410,-3.766365e+00,Kwa Ngomho,0,Internal,Ishinabulandi,Shinyanga,17,3,Shinyanga Rural,Samuye,0,True,GeoData Consultants Ltd,VWC,NaN,True,0,swn 80,swn 80,handpump,vwc,user-group,never pay,never pay,soft,good,enough,enough,machine dbh,borehole,groundwater,hand pump,hand pump,non functional,2
7,54551,0.0,2012-10-09,Rwssp,0,DWE,32.620617,-4.226198e+00,Tushirikiane,0,Lake Tanganyika,Nyawishi Center,Shinyanga,17,3,Kahama,Chambo,0,True,GeoData Consultants Ltd,NaN,NaN,True,0,nira/tanira,nira/tanira,handpump,wug,user-group,unknown,unknown,milky,milky,enough,enough,shallow well,shallow well,groundwater,hand pump,hand pump,non functional,2
8,53934,0.0,2012-11-03,Wateraid,0,Water Aid,32.711100,-5.146712e+00,Kwa Ramadhan Musa,0,Lake Tanganyika,Imalauduki,Tabora,14,6,Tabora Urban,Itetemia,0,True,GeoData Consultants Ltd,VWC,NaN,True,0,india mark ii,india mark ii,handpump,vwc,user-group,never pay,never pay,salty,salty,seasonal,seasonal,machine dbh,borehole,groundwater,hand pump,hand pump,non functional,2
9,46144,0.0,2011-08-03,Isingiro Ho,0,Artisan,30.626991,-1.257051e+00,Kwapeto,0,Lake Victoria,Mkonomre,Kagera,18,1,Karagwe,Kaisho,0,True,GeoData Consultants Ltd,NaN,NaN,True,0,nira/tanira,nira/tanira,handpump,vwc,user-group,never pay,never pay,soft,good,enough,enough,shallow well,shallow well,groundwater,hand pump,hand pump,functional,1
10,49056,0.0,2011-02-20,Private,62,Private,39.209518,-7.034139e+00,Mzee Hokororo,0,Wami / Ruvu,Mizugo,Pwani,60,43,Mkuranga,Tambani,345,True,GeoData Consultants Ltd,Private operator,NaN,False,2011,submersible,submersible,submersible,private operator,commercial,never pay,never pay,salty,salty,enough,enough,machine dbh,borehole,groundwater,other,other,functional,1
11,50409,200.0,2013-02-18,Danida,1062,DANIDA,35.770258,-1.057417e+01,Kwa Alid Nchimbi,0,Lake Nyasa,Ngondombwito,Ruvuma,10,5,Namtumbo,Msindo,250,True,GeoData Consultants Ltd,WUG,NaN,False,1987,swn 80,swn 80,handpump,wug,user-group,pay when scheme fails,on failure,soft,good,insufficient,insufficient,shallow well,shallow well,groundwater,hand pump,hand pump,functional,1
12,36957,0.0,2012-10-14,World Vision,0,World vision,33.798106,-3.290194e+00,Pamba,0,Internal,Nkilifa,Shinyanga,17,2,Maswa,Busilili,0,True,GeoData Consultants Ltd,WUG,NaN,False,0,nira/tanira,nira/tanira,handpump,wug,user-group,other,other,soft,good,enough,enough,shallow well,shallow well,groundwater,hand pump,hand pump,functional,1
13,50495,0.0,2013-03-15,Lawatefuka Water Supply,1368,Lawatefuka water sup,37.092574,-3.181783e+00,Kwa John Izack Mmari,0,Pangani,Omarini,Kilimanjaro,3,7,Siha,Siha Kaskazini,1,True,GeoData Consultants Ltd,Water Board,BL Bondeni,True,2009,gravity,gravity,gravity,water board,user-group,pay monthly,monthly,soft,good,enough,enough,spring,spring,groundwater,communal standpipe,communal standpipe,functional,1
14,53752,0.0,2012-10-20,Biore,0,WEDECO,34.364073,-3.629333e+00,Mwabasabi,0,Internal,Mwabasabi,Shinyanga,17,6,Meatu,Nkoma,0,True,GeoData Consultants Ltd,WUG,None,True,0,nira/tanira,nira/tanira,handpump,wug,user-group,never pay,never pay,soft,good,enough,enough,shallow well,shallow well,groundwater,hand pump,hand pump,functional,1
15,61848,0.0,2011-08-04,Rudep,1645,DWE,31.444121,-8.274962e+00,Kwa Juvenal Ching'Ombe,0,Lake Tanganyika,Tunzi,Rukwa,15,2,Sumbawanga Rural,Mkowe,200,True,GeoData Consultants Ltd,VWC,NaN,False,1991,swn 80,swn 80,handpump,vwc,user-group,never pay,never pay,soft,good,enough,enough,machine dbh,borehole,groundwater,hand pump,hand pump,functional,1
16,48451,500.0,2011-07-04,Unicef,1703,DWE,34.642439,-9.106185e+00,Kwa John Mtenzi,0,Rufiji,Kidudumo,Iringa,11,4,Njombe,Mdandu,35,True,GeoData Consultants Ltd,WUA,wanging'ombe water supply s,True,1978,gravity,gravity,gravity,wua,user-group,pay monthly,monthly,soft,good,dry,dry,river,river/lake,surface,communal standpipe,communal standpipe,non functional,2
17,58155,0.0,2011-09-04,Unicef,1656,DWE,34.569266,-9.085515e+00,Kwa Rose Chaula,0,Rufiji,Yeriko,Iringa,11,4,Njombe,Usuka,50,True,GeoData Consultants Ltd,WUA,wanging'ombe water supply s,True,1978,gravity,gravity,gravity,wua,user-group,pay when scheme fails,on failure,soft,good,dry,dry,river,river/lake,surface,communal standpipe,communal standpipe,non functional,2
18,34169,0.0,2011-07-22,Hesawa,1162,DWE,32.920154,-1.947868e+00,Ngomee,0,Lake Victoria,Center,Mwanza,19,1,Ukerewe,Ilangala,1000,NaN,GeoData Consultants Ltd,NaN,NaN,True,1999,other,other,other,vwc,user-group,never pay,never pay,milky,milky,insufficient,insufficient,spring,spring,groundwater,other,other,functional needs repair,3
19,18274,500.0,2011-02-22,Danida,1763,Danid,34.508967,-9.894412e+00,none,0,Lake Nyasa,Manyanya,Iringa,11,5,Ludewa,Mawengi,1,True,GeoData Consultants Ltd,VWC,Makanj,True,1992,gravity,gravity,gravity,vwc,user-group,pay annually,annually,soft,good,enough,enough,spring,spring,groundwater,communal standpipe,communal standpipe,functional,1
20,48375,200.0,2011-02-27,Twe,2216,TWE,34.473430,-9.594990e+00,none,0,Lake Nyasa,Majengo,Iringa,11,4,Njombe,Matola,4,True,GeoData Consultants Ltd,VWC,Kidabu,False,2008,gravity,gravity,gravity,vwc,user-group,pay monthly,monthly,soft,good,enough,enough,spring,spring,groundwater,communal standpipe,communal standpipe,functional,1
21,6091,0.0,2013-02-10,Dwsp,0,DWE,0.000000,-2.000000e-08,Muungano,0,Lake Victoria,Ibabachegu,Shinyanga,17,1,Bariadi,Ikungulyabashashi,0,NaN,GeoData Consultants Ltd,WUG,NaN,False,0,swn 80,swn 80,handpump,wug,user-group,unknown,unknown,unknown,unknown,unknown,unknown,shallow well,shallow well,groundwater,hand pump,hand pump,functional,1
22,58500,0.0,2011-10-04,Unicef,1510,DWE,34.586901,-8.980014e+00,Shuleni,0,Rufiji,Mkanivega,Iringa,11,4,Njombe,Usuka,350,True,GeoData Consultants Ltd,WUA,wanging'ombe water supply s,True,1978,gravity,gravity,gravity,wua,user-group,never pay,never pay,soft,good,enough,enough,river,river/lake,surface,communal standpipe,communal standpipe,functional needs repair,3
23,37862,500.0,2013-11-03,Isf,672,ISF,37.940029,-4.125595e+00,Kinonga,0,Pangani,Mkonga Juu,Kilimanjaro,3,3,Same,Kisiwani,210,True,GeoData Consultants Ltd,Water authority,Mashangwi,True,2011,gravity,gravity,gravity,vwc,user-group,pay monthly,monthly,soft,good,enough,enough,river,river/lake,surface,communal standpipe,communal standpipe,functional,1
24,51058,0.0,2013-01-21,African Development Bank,1645,DWE,29.747066,-4.495568e+00,Kamsasa,0,Lake Tanganyika,Msasa,Kigoma,16,3,Kigoma Rural,Mkigo,156,False,GeoData Consultants Ltd,VWC,Quick wins Program,True,2009,gravity,gravity,gravity,vwc,user-group,unknown,unknown,soft,good,enough,enough,spring,spring,groundwater,improved spring,improved spring,functional,1
25,22308,0.0,2013-02-25,Government Of Tanzania,1273,DWE,37.422751,-3.317536e+00,Kwa Tukai,0,Pangani,Kitereni,Kilimanjaro,3,4,Moshi Rural,Kimochi,140,True,GeoData Consultants Ltd,VWC,Komaka mandaka,True,1974,gravity,gravity,gravity,vwc,user-group,unknown,unknown,soft,good,enough,enough,spring,spring,groundwater,communal standpipe,communal standpipe,functional needs repair,3
26,55012,500.0,2013-01-16,Sobodo,200,Kilolo Star,39.370777,-9.942532e+00,Ruhoma Primary School,0,Ruvuma / Southern Coast,Shuleni,Lindi,80,23,Lindi Rural,Rutamba,260,False,GeoData Consultants Ltd,VWC,Sobodo Borehole Scheme,False,2011,india mark ii,india mark ii,handpump,vwc,user-group,pay monthly,monthly,soft,good,enough,enough,machine dbh,borehole,groundwater,hand pump,hand pump,functional,1
27,20145,0.0,2011-07-11,Hesawa,0,DWE,31.104257,-1.735361e+00,Kwawilliam,0,Lake Victoria,Chakahaya,Kagera,18,1,Karagwe,Nyaishozi,0,True,GeoData Consultants Ltd,NaN,NaN,True,0,nira/tanira,nira/tanira,handpump,vwc,user-group,never pay,never pay,soft,good,enough,enough,shallow well,shallow well,groundwater,hand pump,hand pump,functional,1
28,19685,0.0,2013-03-05,Government Of Tanzania,1443,District council,37.611126,-3.263526e+00,Kwa Kibakaya,0,Pangani,Kiyao,Kilimanjaro,3,1,Rombo,Mengwe Manda,1,True,GeoData Consultants Ltd,Company,Kitukuni water supply,True,2000,gravity,gravity,gravity,company,commercial,pay monthly,monthly,soft,good,insufficient,insufficient,spring,spring,groundwater,communal standpipe,communal standpipe,non functional,2
29,69124,0.0,2013-03-16,Lawatefuka Water Supply,1256,Lawatefuka water sup,37.061688,-3.191989e+00,Kwa Willium Kinda,0,Pangani,Merali,Kilimanjaro,3,7,Siha,Siha Kati,1,True,GeoData Consultants Ltd,Water Board,BL Mwakikoti,True,2002,gravity,gravity,gravity,water board,user-group,pay monthly,monthly,soft,good,enough,enough,spring,spring,groundwater,communal standpipe,communal standpipe,functional,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59370,14796,200.0,2013-01-29,NaN,1154,NaN,30.058731,-4.902633e+00,Village Office,0,Lake Tanganyika,Mazungwe,Kigoma,16,2,Kasulu,Rusesa,1,True,GeoData Consultants Ltd,NaN,NaN,False,0,other,other,other,unknown,unknown,pay monthly,monthly,unknown,unknown,unknown,unknown,unknown,other,unknown,other,other,functional,1
59371,20387,0.0,2012-10-09,Netherlands,0,DWE,33.586406,-3.040369e+00,Ushirika,0,Lake Victoria,Chambwa,Shinyanga,17,2,Maswa,Kulimi,0,True,GeoData Consultants Ltd,WUG,NaN,False,0,nira/tanira,nira/tanira,handpump,wug,user-group,never pay,never pay,soft,good,enough,enough,shallow well,shallow well,groundwater,hand pump,hand pump,non functional,2
59372,29940,0.0,2012-10-31,Tlc,0,TLC,32.058548,-5.052101e+00,Kwa Mzee Kamanya,0,Lake Tanganyika,Urambo Magharibi,Tabora,14,4,Urambo,Urambo,0,True,GeoData Consultants Ltd,Private operator,NaN,True,0,other,other,other,private operator,commercial,pay per bucket,per bucket,salty,salty,insufficient,insufficient,shallow well,shallow well,groundwater,other,other,non functional,2
59373,15233,5000.0,2013-01-30,Rudep,1137,Distri,32.125024,-6.784358e+00,Kwa Kadiega,0,Lake Rukwa,Mapambano,Rukwa,15,1,Mpanda,Ilela,96,True,GeoData Consultants Ltd,VWC,NaN,True,1988,india mark ii,india mark ii,handpump,vwc,user-group,pay annually,annually,soft,good,enough,enough,machine dbh,borehole,groundwater,hand pump,hand pump,functional,1
59374,49651,0.0,2012-10-29,Rwssp,0,DWE,0.000000,-2.000000e-08,Nguvu Kazi,0,Lake Victoria,Mwamtani A,Shinyanga,17,1,Bariadi,Sagata,0,True,GeoData Consultants Ltd,WUG,NaN,False,0,nira/tanira,nira/tanira,handpump,wug,user-group,other,other,soft,good,enough,enough,shallow well,shallow well,groundwater,hand pump,hand pump,functional,1
59375,50998,40000.0,2011-08-03,Government Of Tanzania,54,DWE,39.046942,-5.061494e+00,Sekondari,0,Pangani,Kwa Nyanji,Tanga,4,4,Tanga,Mzizima,609,True,GeoData Consultants Ltd,VWC,Mzizima Water Supply,True,2005,gravity,gravity,gravity,vwc,user-group,pay monthly,monthly,soft,good,enough,enough,river,river/lake,surface,communal standpipe,communal standpipe,functional,1
59376,34716,0.0,2013-02-03,NaN,1581,NaN,34.821039,-5.076258e+00,Nasingo,0,Internal,Hu,Singida,13,2,Singida Rural,Dung'unyi,1,True,GeoData Consultants Ltd,VWC,NaN,NaN,1990,other,other,other,vwc,user-group,unknown,unknown,unknown,unknown,dry,dry,shallow well,shallow well,groundwater,other,other,non functional,2
59377,43986,0.0,2012-10-23,Government Of Tanzania,0,Government,33.437012,-4.423594e+00,Fpct,0,Internal,Hospital,Tabora,14,2,Igunga,Nkinga,0,True,GeoData Consultants Ltd,Water authority,NaN,False,0,gravity,gravity,gravity,vwc,user-group,never pay,never pay,soft,good,insufficient,insufficient,dam,dam,surface,communal standpipe multiple,communal standpipe,non functional,2
59378,38067,500.0,2011-03-21,Rc,2101,ACRA,34.620387,-9.358405e+00,Michael Msigwa,0,Rufiji,Igelango,Iringa,11,4,Njombe,Imalinyi,36,True,GeoData Consultants Ltd,VWC,Tove mtwango,True,2008,gravity,gravity,gravity,wua,user-group,pay monthly,monthly,soft,good,enough,enough,spring,spring,groundwater,communal standpipe,communal standpipe,functional,1
59379,58255,0.0,2011-07-13,Do,0,DO,31.613284,-1.820226e+00,Coffee Plantati,0,Lake Victoria,Kaluyango,Kagera,18,3,Muleba,Ikondo,0,True,GeoData Consultants Ltd,VWC,N,True,0,gravity,gravity,gravity,vwc,user-group,never pay,never pay,soft,good,enough,enough,spring,spring,groundwater,communal standpipe,communal standpipe,functional,1
59380,30647,6000.0,2011-03-14,Roman,1439,Roman,34.942101,-9.849198e+00,none,0,Lake Nyasa,Mnyusi B,Iringa,11,5,Ludewa,Mundindi,50,True,GeoData Consultants Ltd,VWC,Roman,False,1999,gravity,gravity,gravity,vwc,user-group,pay annually,annually,soft,good,dry,dry,spring,spring,groundwater,communal standpipe,communal standpipe,non functional,2
59381,67885,0.0,2011-03-16,Mkinga Distric Coun,0,DWE,38.835001,-4.880204e+00,Mijohoroni,0,Pangani,Mtakuja A,Tanga,4,8,Mkinga,Maramba,360,True,GeoData Consultants Ltd,VWC,Magati water schem,True,1992,gravity,gravity,gravity,vwc,user-group,never pay,never pay,soft,good,insufficient,insufficient,spring,spring,groundwater,communal standpipe,communal standpipe,non functional,2
59382,47002,6.0,2013-08-03,Ces(gmbh),1383,DWE,37.454759,-3.323599e+00,Kwa Luka Msaki,0,Pangani,Yamu Juu,Kilimanjaro,3,4,Moshi Rural,Kirua Vunjo Kusini,1,True,GeoData Consultants Ltd,Water Board,Kirua kahe gravity water supply trust,True,2008,gravity,gravity,gravity,water board,user-group,pay per bucket,per bucket,soft,good,enough,enough,spring,spring,groundwater,communal standpipe,communal standpipe,non functional,2
59383,44616,0.0,2013-01-19,World Bank,11,World bank,39.626009,-1.005750e+01,Shuleni,0,Ruvuma / Southern Coast,Mitumbati,Lindi,80,62,Lindi Urban,Jamhuri,800,True,GeoData Consultants Ltd,NaN,NaN,True,2008,nira/tanira,nira/tanira,handpump,vwc,user-group,unknown,unknown,soft,good,enough,enough,rainwater harvesting,rainwater harvesting,surface,hand pump,hand pump,functional,1
59384,72148,0.0,2011-07-10,Concern,0,CONCERN,30.667805,-2.483710e+00,Chamkube,0,Lake Victoria,Songambele,Kagera,18,30,Ngara,Nyamiyaga,0,True,GeoData Consultants Ltd,VWC,NaN,False,0,gravity,gravity,gravity,vwc,user-group,never pay,never pay,soft,good,insufficient,insufficient,spring,spring,groundwater,communal standpipe,communal standpipe,non functional,2
59385,34473,500.0,2012-11-03,Jaica,1327,JAICA CO,33.951681,-2.021854e+00,Kwa Marunda,0,Lake Victoria,Mlimani,Mara,20,4,Bunda,Mcharo,200,True,GeoData Consultants Ltd,WUG,NaN,True,2011,afridev,afridev,handpump,wug,user-group,pay monthly,monthly,salty,salty,enough,enough,machine dbh,borehole,groundwater,hand pump,hand pump,functional,1
59386,34952,0.0,2011-08-22,Adb,1786,DWE,31.738789,-8.532013e+00,Shule Ya Sekondari Katazi,0,Lake Rukwa,Nduza,Rukwa,15,2,Sumbawanga Rural,Katazi,1000,True,GeoData Consultants Ltd,VWC,NaN,False,2009,india mark ii,india mark ii,handpump,vwc,user-group,never pay,never pay,soft,good,enough,enough,machine dbh,borehole,groundwater,hand pump,hand pump,functional,1
59387,26640,100.0,2013-03-12,0,25,0,39.176480,-6.957098e+00,Kwa Maliba,0,Wami / Ruvu,Mtaa Wa Yangeyange,Dar es Salaam,7,2,Ilala,Msongola,100,NaN,GeoData Consultants Ltd,WUA,M,False,2000,submersible,submersible,submersible,wua,user-group,pay per bucket,per bucket,soft,good,enough,enough,machine dbh,borehole,groundwater,communal standpipe,communal standpipe,functional,1
59388,72559,0.0,2013-01-29,Kidep,1414,DWE,30.692400,-3.593827e+00,Kwa Philipo Kibeba,0,Lake Tanganyika,Kumwambu,Kigoma,16,1,Kibondo,Kibondo Urban,500,True,GeoData Consultants Ltd,VWC,NaN,True,1995,gravity,gravity,gravity,vwc,user-group,unknown,unknown,soft,good,insufficient,insufficient,spring,spring,groundwater,improved spring,improved spring,functional,1
59389,30410,0.0,2011-08-06,Co,783,DWE,30.646486,-7.365418e+00,Sekondari,0,Lake Tanganyika,Itete B,Rukwa,15,3,Nkasi,Kirando,1500,False,GeoData Consultants Ltd,VWC,NaN,False,2009,india mark ii,india mark ii,handpump,vwc,user-group,never pay,never pay,soft,good,enough,enough,machine dbh,borehole,groundwater,hand pump,hand pump,functional,1
59390,13677,0.0,2011-08-04,Rudep,1715,DWE,31.370848,-8.258160e+00,Kwa Mzee Atanas,0,Lake Tanganyika,Kitonto,Rukwa,15,2,Sumbawanga Rural,Mkowe,150,True,GeoData Consultants Ltd,VWC,NaN,False,1991,swn 80,swn 80,handpump,vwc,user-group,never pay,never pay,soft,good,insufficient,insufficient,machine dbh,borehole,groundwater,hand pump,hand pump,functional,1
59391,44885,0.0,2013-08-03,Government Of Tanzania,540,Government,38.044070,-4.272218e+00,Kwa,0,Pangani,Maore Kati,Kilimanjaro,3,3,Same,Maore,210,True,GeoData Consultants Ltd,Water authority,Hingilili,True,1967,gravity,gravity,gravity,vwc,user-group,never pay,never pay,soft,good,enough,enough,river,river/lake,surface,communal standpipe,communal standpipe,non functional,2
59392,40607,0.0,2011-04-15,Government Of Tanzania,0,Government,33.009440,-8.520888e+00,Benard Charles,0,Lake Rukwa,Mbuyuni A,Mbeya,12,1,Chunya,Mbuyuni,0,True,GeoData Consultants Ltd,VWC,NaN,True,0,gravity,gravity,gravity,vwc,user-group,never pay,never pay,soft,good,enough,enough,spring,spring,groundwater,communal standpipe,communal standpipe,non functional,2
59393,48348,0.0,2012-10-27,Private,0,Private,33.866852,-4.287410e+00,Kwa Peter,0,Internal,Masanga,Tabora,14,2,Igunga,Igunga,0,False,GeoData Consultants Ltd,Water authority,NaN,False,0,gravity,gravity,gravity,private operator,commercial,pay per bucket,per bucket,soft,good,insufficient,insufficient,dam,dam,surface,other,other,functional,1

In [20]:
train_new.isnull().sum()

id                           0
amount_tsh                   0
date_recorded                0
funder                    3635
gps_height                   0
installer                 3655
longitude                    0
latitude                     0
wpt_name                     0
num_private                  0
basin                        0
subvillage                 371
region                       0
region_code                  0
district_code                0
lga                          0
ward                         0
population                   0
public_meeting            3334
recorded_by                  0
scheme_management         3877
scheme_name              28166
permit                    3056
construction_year            0
extraction_type              0
extraction_type_group        0
extraction_type_class        0
management                   0
management_group             0
payment                      0
payment_type                 0
water_quality                0
quality_group                0
quantity                     0
quantity_group               0
source                       0
source_type                  0
source_class                 0
waterpoint_type              0
waterpoint_type_group        0
status_group                 0
dtype: int64

In [21]:
train_new.select_dtypes(exclude=np.number).nunique()

date_recorded              356
funder                    1897
installer                 2145
wpt_name                 37400
basin                        9
subvillage               19287
region                      21
lga                        125
ward                      2092
public_meeting               2
recorded_by                  1
scheme_management           12
scheme_name               2696
permit                       2
extraction_type             18
extraction_type_group       13
extraction_type_class        7
management                  12
management_group             5
payment                      7
payment_type                 7
water_quality                8
quality_group                6
quantity                     5
quantity_group               5
source                      10
source_type                  7
source_class                 3
waterpoint_type              7
waterpoint_type_group        6
status_group                 3
dtype: int64

In [0]:
# drop high cardinality columns

y_train =  train_new['status_number']
X_train = train_new.drop(columns=['status_number','status_group','id','scheme_name','ward', 'subvillage', 'wpt_name', 'installer', 'funder', 'date_recorded'])
X_test  = test_df.drop(columns=['id','scheme_name','ward', 'subvillage', 'wpt_name', 'installer', 'funder', 'date_recorded'])

In [0]:
train_new.info()

In [83]:
pipeline = make_pipeline(
    ce.OneHotEncoder(use_cat_names=True), 
    StandardScaler(),  
    RandomForestClassifier(class_weight='balanced', 
                            n_jobs=-1, 
                            n_estimators=1000))

pipeline.fit(X_train, y_train)

/usr/local/lib/python3.6/dist-packages/sklearn/preprocessing/data.py:645: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
/usr/local/lib/python3.6/dist-packages/sklearn/base.py:467: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  return self.fit(X, y, **fit_params).transform(X)

Pipeline(memory=None,
     steps=[('onehotencoder', OneHotEncoder(cols=['basin', 'region', 'lga', 'public_meeting', 'recorded_by', 'scheme_management', 'permit', 'extraction_type', 'extraction_type_group', 'extraction_type_class', 'management', 'management_group', 'payment', 'payment_type', 'water_quality', 'quality_group', '...tors=1000, n_jobs=-1, oob_score=False,
            random_state=None, verbose=0, warm_start=False))])

In [61]:
# pipeline = make_pipeline(
#     ce.OneHotEncoder(use_cat_names=True), 
#     StandardScaler(),  
#     Ridge())



# pipeline.fit(X_train, y_train)

/usr/local/lib/python3.6/dist-packages/sklearn/preprocessing/data.py:645: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
/usr/local/lib/python3.6/dist-packages/sklearn/base.py:467: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  return self.fit(X, y, **fit_params).transform(X)

Pipeline(memory=None,
     steps=[('onehotencoder', OneHotEncoder(cols=['basin', 'region', 'lga', 'public_meeting', 'recorded_by', 'scheme_management', 'permit', 'extraction_type', 'extraction_type_group', 'extraction_type_class', 'management', 'management_group', 'payment', 'payment_type', 'water_quality', 'quality_group', '...it_intercept=True, max_iter=None,
   normalize=False, random_state=None, solver='auto', tol=0.001))])

In [31]:
# took too long, did not improve score

# param_grid = {'logisticregression__class_weight':[None,'balanced'],'logisticregression__C':[.0001, .001, .01, .1, 1.0, 10.0, 100.00, 1000.0, 10000.0]}

# gs = GridSearchCV(pipeline,param_grid,cv=5,scoring='accuracy')
# gs.fit(X_train, y_train)

/usr/local/lib/python3.6/dist-packages/sklearn/preprocessing/data.py:645: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
/usr/local/lib/python3.6/dist-packages/sklearn/base.py:467: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  return self.fit(X, y, **fit_params).transform(X)
/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/logistic.py:460: FutureWarning: Default multi_class will be changed to 'auto' in 0.22. Specify the multi_class option to silence this warning.
  "this warning.", FutureWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/pipeline.py:331: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  Xt = transform.transform(Xt)
/usr/local/lib/python3.6/dist-packages/sklearn/pipeline.py:331: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  Xt = transform.transform(Xt)
/usr/local/lib/python3.6/dist-packages/sklearn/preprocessing/data.py:645: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
/usr/local/lib/python3.6/dist-packages/sklearn/base.py:467: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  return self.fit(X, y, **fit_params).transform(X)
/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/logistic.py:460: FutureWarning: Default multi_class will be changed to 'auto' in 0.22. Specify the multi_class option to silence this warning.
  "this warning.", FutureWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/pipeline.py:331: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  Xt = transform.transform(Xt)
/usr/local/lib/python3.6/dist-packages/sklearn/pipeline.py:331: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  Xt = transform.transform(Xt)
/usr/local/lib/python3.6/dist-packages/sklearn/preprocessing/data.py:645: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
/usr/local/lib/python3.6/dist-packages/sklearn/base.py:467: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  return self.fit(X, y, **fit_params).transform(X)
/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/logistic.py:460: FutureWarning: Default multi_class will be changed to 'auto' in 0.22. Specify the multi_class option to silence this warning.
  "this warning.", FutureWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/pipeline.py:331: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  Xt = transform.transform(Xt)
/usr/local/lib/python3.6/dist-packages/sklearn/pipeline.py:331: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  Xt = transform.transform(Xt)
/usr/local/lib/python3.6/dist-packages/sklearn/preprocessing/data.py:645: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
/usr/local/lib/python3.6/dist-packages/sklearn/base.py:467: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  return self.fit(X, y, **fit_params).transform(X)
/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/logistic.py:460: FutureWarning: Default multi_class will be changed to 'auto' in 0.22. Specify the multi_class option to silence this warning.
  "this warning.", FutureWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/pipeline.py:331: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  Xt = transform.transform(Xt)
/usr/local/lib/python3.6/dist-packages/sklearn/pipeline.py:331: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  Xt = transform.transform(Xt)
/usr/local/lib/python3.6/dist-packages/sklearn/preprocessing/data.py:645: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
/usr/local/lib/python3.6/dist-packages/sklearn/base.py:467: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  return self.fit(X, y, **fit_params).transform(X)
/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/logistic.py:460: FutureWarning: Default multi_class will be changed to 'auto' in 0.22. Specify the multi_class option to silence this warning.
  "this warning.", FutureWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/pipeline.py:331: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  Xt = transform.transform(Xt)
/usr/local/lib/python3.6/dist-packages/sklearn/pipeline.py:331: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  Xt = transform.transform(Xt)
/usr/local/lib/python3.6/dist-packages/sklearn/preprocessing/data.py:645: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
/usr/local/lib/python3.6/dist-packages/sklearn/base.py:467: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  return self.fit(X, y, **fit_params).transform(X)
/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/logistic.py:460: FutureWarning: Default multi_class will be changed to 'auto' in 0.22. Specify the multi_class option to silence this warning.
  "this warning.", FutureWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/pipeline.py:331: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  Xt = transform.transform(Xt)
/usr/local/lib/python3.6/dist-packages/sklearn/pipeline.py:331: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  Xt = transform.transform(Xt)
/usr/local/lib/python3.6/dist-packages/sklearn/preprocessing/data.py:645: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
/usr/local/lib/python3.6/dist-packages/sklearn/base.py:467: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  return self.fit(X, y, **fit_params).transform(X)
/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/logistic.py:460: FutureWarning: Default multi_class will be changed to 'auto' in 0.22. Specify the multi_class option to silence this warning.
  "this warning.", FutureWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/pipeline.py:331: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  Xt = transform.transform(Xt)
/usr/local/lib/python3.6/dist-packages/sklearn/pipeline.py:331: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  Xt = transform.transform(Xt)
/usr/local/lib/python3.6/dist-packages/sklearn/preprocessing/data.py:645: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
/usr/local/lib/python3.6/dist-packages/sklearn/base.py:467: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  return self.fit(X, y, **fit_params).transform(X)
/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/logistic.py:460: FutureWarning: Default multi_class will be changed to 'auto' in 0.22. Specify the multi_class option to silence this warning.
  "this warning.", FutureWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/pipeline.py:331: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  Xt = transform.transform(Xt)
/usr/local/lib/python3.6/dist-packages/sklearn/pipeline.py:331: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  Xt = transform.transform(Xt)
/usr/local/lib/python3.6/dist-packages/sklearn/preprocessing/data.py:645: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
/usr/local/lib/python3.6/dist-packages/sklearn/base.py:467: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  return self.fit(X, y, **fit_params).transform(X)
/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/logistic.py:460: FutureWarning: Default multi_class will be changed to 'auto' in 0.22. Specify the multi_class option to silence this warning.
  "this warning.", FutureWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/pipeline.py:331: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  Xt = transform.transform(Xt)
/usr/local/lib/python3.6/dist-packages/sklearn/pipeline.py:331: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  Xt = transform.transform(Xt)
/usr/local/lib/python3.6/dist-packages/sklearn/preprocessing/data.py:645: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
/usr/local/lib/python3.6/dist-packages/sklearn/base.py:467: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  return self.fit(X, y, **fit_params).transform(X)
/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/logistic.py:460: FutureWarning: Default multi_class will be changed to 'auto' in 0.22. Specify the multi_class option to silence this warning.
  "this warning.", FutureWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/pipeline.py:331: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  Xt = transform.transform(Xt)
/usr/local/lib/python3.6/dist-packages/sklearn/pipeline.py:331: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  Xt = transform.transform(Xt)
/usr/local/lib/python3.6/dist-packages/sklearn/preprocessing/data.py:645: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
/usr/local/lib/python3.6/dist-packages/sklearn/base.py:467: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  return self.fit(X, y, **fit_params).transform(X)
/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/logistic.py:460: FutureWarning: Default multi_class will be changed to 'auto' in 0.22. Specify the multi_class option to silence this warning.
  "this warning.", FutureWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/pipeline.py:331: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  Xt = transform.transform(Xt)
/usr/local/lib/python3.6/dist-packages/sklearn/pipeline.py:331: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  Xt = transform.transform(Xt)
/usr/local/lib/python3.6/dist-packages/sklearn/preprocessing/data.py:645: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
/usr/local/lib/python3.6/dist-packages/sklearn/base.py:467: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  return self.fit(X, y, **fit_params).transform(X)
/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/logistic.py:460: FutureWarning: Default multi_class will be changed to 'auto' in 0.22. Specify the multi_class option to silence this warning.
  "this warning.", FutureWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/pipeline.py:331: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  Xt = transform.transform(Xt)
/usr/local/lib/python3.6/dist-packages/sklearn/pipeline.py:331: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  Xt = transform.transform(Xt)
/usr/local/lib/python3.6/dist-packages/sklearn/preprocessing/data.py:645: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
/usr/local/lib/python3.6/dist-packages/sklearn/base.py:467: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  return self.fit(X, y, **fit_params).transform(X)
/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/logistic.py:460: FutureWarning: Default multi_class will be changed to 'auto' in 0.22. Specify the multi_class option to silence this warning.
  "this warning.", FutureWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/pipeline.py:331: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  Xt = transform.transform(Xt)
/usr/local/lib/python3.6/dist-packages/sklearn/pipeline.py:331: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  Xt = transform.transform(Xt)
/usr/local/lib/python3.6/dist-packages/sklearn/preprocessing/data.py:645: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
/usr/local/lib/python3.6/dist-packages/sklearn/base.py:467: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  return self.fit(X, y, **fit_params).transform(X)
/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/logistic.py:460: FutureWarning: Default multi_class will be changed to 'auto' in 0.22. Specify the multi_class option to silence this warning.
  "this warning.", FutureWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/pipeline.py:331: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  Xt = transform.transform(Xt)
/usr/local/lib/python3.6/dist-packages/sklearn/pipeline.py:331: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  Xt = transform.transform(Xt)
/usr/local/lib/python3.6/dist-packages/sklearn/preprocessing/data.py:645: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
/usr/local/lib/python3.6/dist-packages/sklearn/base.py:467: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  return self.fit(X, y, **fit_params).transform(X)
/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/logistic.py:460: FutureWarning: Default multi_class will be changed to 'auto' in 0.22. Specify the multi_class option to silence this warning.
  "this warning.", FutureWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/pipeline.py:331: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  Xt = transform.transform(Xt)
/usr/local/lib/python3.6/dist-packages/sklearn/pipeline.py:331: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  Xt = transform.transform(Xt)
/usr/local/lib/python3.6/dist-packages/sklearn/preprocessing/data.py:645: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
/usr/local/lib/python3.6/dist-packages/sklearn/base.py:467: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  return self.fit(X, y, **fit_params).transform(X)
/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/logistic.py:460: FutureWarning: Default multi_class will be changed to 'auto' in 0.22. Specify the multi_class option to silence this warning.
  "this warning.", FutureWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/pipeline.py:331: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  Xt = transform.transform(Xt)
/usr/local/lib/python3.6/dist-packages/sklearn/pipeline.py:331: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  Xt = transform.transform(Xt)
/usr/local/lib/python3.6/dist-packages/sklearn/preprocessing/data.py:645: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
/usr/local/lib/python3.6/dist-packages/sklearn/base.py:467: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  return self.fit(X, y, **fit_params).transform(X)
/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/logistic.py:460: FutureWarning: Default multi_class will be changed to 'auto' in 0.22. Specify the multi_class option to silence this warning.
  "this warning.", FutureWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/pipeline.py:331: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  Xt = transform.transform(Xt)
/usr/local/lib/python3.6/dist-packages/sklearn/pipeline.py:331: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  Xt = transform.transform(Xt)
/usr/local/lib/python3.6/dist-packages/sklearn/preprocessing/data.py:645: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
/usr/local/lib/python3.6/dist-packages/sklearn/base.py:467: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  return self.fit(X, y, **fit_params).transform(X)
/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/logistic.py:460: FutureWarning: Default multi_class will be changed to 'auto' in 0.22. Specify the multi_class option to silence this warning.
  "this warning.", FutureWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/pipeline.py:331: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  Xt = transform.transform(Xt)
/usr/local/lib/python3.6/dist-packages/sklearn/pipeline.py:331: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  Xt = transform.transform(Xt)
/usr/local/lib/python3.6/dist-packages/sklearn/preprocessing/data.py:645: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
/usr/local/lib/python3.6/dist-packages/sklearn/base.py:467: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  return self.fit(X, y, **fit_params).transform(X)

GridSearchCV(cv=5, error_score='raise-deprecating',
       estimator=Pipeline(memory=None,
     steps=[('onehotencoder', OneHotEncoder(cols=None, drop_invariant=False, handle_unknown='impute',
       impute_missing=True, return_df=True, use_cat_names=True, verbose=0)), ('standardscaler', StandardScaler(copy=True, with_mean=True, with_std=True)), ('logisticregression', LogisticRegression(C=1.0,...enalty='l2', random_state=None, solver='lbfgs',
          tol=0.0001, verbose=0, warm_start=False))]),
       fit_params=None, iid='warn', n_jobs=None,
       param_grid={'logisticregression__class_weight': [None, 'balanced'], 'logisticregression__C': [0.0001, 0.001, 0.01, 0.1, 1.0, 10.0, 100.0, 1000.0, 10000.0]},
       pre_dispatch='2*n_jobs', refit=True, return_train_score='warn',
       scoring='accuracy', verbose=0)

In [84]:
y_pred = pipeline.predict(X_test)

pd.DataFrame(y_pred)

/usr/local/lib/python3.6/dist-packages/sklearn/pipeline.py:331: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  Xt = transform.transform(Xt)

       0
0      1
1      1
2      1
3      2
4      1
5      1
6      1
7      2
8      2
9      1
10     1
11     2
12     2
13     2
14     1
15     1
16     1
17     2
18     1
19     2
20     2
21     2
22     1
23     1
24     2
25     2
26     3
27     1
28     1
29     2
...   ..
14328  2
14329  3
14330  1
14331  1
14332  2
14333  1
14334  1
14335  2
14336  2
14337  1
14338  2
14339  1
14340  1
14341  1
14342  3
14343  1
14344  1
14345  2
14346  1
14347  1
14348  1
14349  1
14350  3
14351  1
14352  1
14353  2
14354  1
14355  1
14356  1
14357  2

[14358 rows x 1 columns]

In [0]:
# submission
submission = sample.copy()
submission['y5']= y_pred

In [86]:
dict2 = {1:'functional',2:'non functional',3:'functional needs repair'}
submission['status_new'] = submission['y5'].map(dict2)


submission

          id status_group  y5               status_new
0      50785   functional   1               functional
1      51630   functional   1               functional
2      17168   functional   1               functional
3      45559   functional   2           non functional
4      49871   functional   1               functional
5      52449   functional   1               functional
6      24806   functional   1               functional
7      28965   functional   2           non functional
8      36301   functional   2           non functional
9      54122   functional   1               functional
10       419   functional   1               functional
11     45750   functional   2           non functional
12       653   functional   2           non functional
13     14017   functional   2           non functional
14     40228   functional   1               functional
15     27714   functional   1               functional
16     28785   functional   1               functional
17     18532   functional   2           non functional
18     69961   functional   1               functional
19     55083   functional   2           non functional
20      8691   functional   2           non functional
21     30331   functional   2           non functional
22     70970   functional   1               functional
23     61136   functional   1               functional
24     28799   functional   2           non functional
25     46825   functional   2           non functional
26     44718   functional   3  functional needs repair
27     37350   functional   1               functional
28     65738   functional   1               functional
29      3271   functional   2           non functional
...      ...          ...  ..                      ...
14328  73579   functional   2           non functional
14329  52228   functional   3  functional needs repair
14330  70038   functional   1               functional
14331  25901   functional   1               functional
14332  26580   functional   2           non functional
14333  66059   functional   1               functional
14334  32944   functional   1               functional
14335  13686   functional   2           non functional
14336   8471   functional   2           non functional
14337  19620   functional   1               functional
14338  74162   functional   2           non functional
14339  37994   functional   1               functional
14340  71151   functional   1               functional
14341  45017   functional   1               functional
14342  12592   functional   3  functional needs repair
14343  58693   functional   1               functional
14344  57539   functional   1               functional
14345  71252   functional   2           non functional
14346   7869   functional   1               functional
14347  57316   functional   1               functional
14348  59757   functional   1               functional
14349  64579   functional   1               functional
14350  57731   functional   3  functional needs repair
14351  65541   functional   1               functional
14352  68174   functional   1               functional
14353  39307   functional   2           non functional
14354  18990   functional   1               functional
14355  28749   functional   1               functional
14356  33492   functional   1               functional
14357  68707   functional   2           non functional

[14358 rows x 4 columns]

In [67]:
drive.mount('drive', force_remount=True)

Mounted at drive

In [0]:
submission.to_csv('submission-005.csv',index=False)
!cp submission-005.csv drive/My\ Drive/

# New Section

In [46]:
submission

          id status_group                       y3
0      50785   functional           non functional
1      51630   functional               functional
2      17168   functional               functional
3      45559   functional           non functional
4      49871   functional               functional
5      52449   functional               functional
6      24806   functional               functional
7      28965   functional           non functional
8      36301   functional           non functional
9      54122   functional               functional
10       419   functional               functional
11     45750   functional           non functional
12       653   functional           non functional
13     14017   functional               functional
14     40228   functional               functional
15     27714   functional               functional
16     28785   functional               functional
17     18532   functional           non functional
18     69961   functional           non functional
19     55083   functional               functional
20      8691   functional           non functional
21     30331   functional           non functional
22     70970   functional               functional
23     61136   functional               functional
24     28799   functional           non functional
25     46825   functional           non functional
26     44718   functional               functional
27     37350   functional               functional
28     65738   functional               functional
29      3271   functional           non functional
...      ...          ...                      ...
14328  73579   functional               functional
14329  52228   functional           non functional
14330  70038   functional               functional
14331  25901   functional               functional
14332  26580   functional           non functional
14333  66059   functional           non functional
14334  32944   functional               functional
14335  13686   functional               functional
14336   8471   functional           non functional
14337  19620   functional               functional
14338  74162   functional           non functional
14339  37994   functional               functional
14340  71151   functional           non functional
14341  45017   functional               functional
14342  12592   functional               functional
14343  58693   functional               functional
14344  57539   functional               functional
14345  71252   functional               functional
14346   7869   functional               functional
14347  57316   functional               functional
14348  59757   functional               functional
14349  64579   functional               functional
14350  57731   functional  functional needs repair
14351  65541   functional           non functional
14352  68174   functional               functional
14353  39307   functional           non functional
14354  18990   functional               functional
14355  28749   functional               functional
14356  33492   functional               functional
14357  68707   functional           non functional

[14358 rows x 3 columns]

In [48]:
submission['y3'].value_counts()

functional                 9409
non functional             4785
functional needs repair     164
Name: y3, dtype: int64